pipeline/00_STREAM_COMMON_POC.json
{
	"name": "00_STREAM_COMMON_POC",
	"properties": {
		"activities": [
			{
				"name": "GET PROCESS LIST",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "START STREAM",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderStoredProcedureName": "[CNTL].[PROC_GET_PCS_STREAM]",
						"storedProcedureParameters": {
							"P_STREAM_NM": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.P_STREAM_NM",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "controltable",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "SET AS_AT_DT",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "START STREAM",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "V_AS_AT_DT",
					"value": {
						"value": "@activity('START STREAM').output.FIRSTROW.AS_AT_DT",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SET STREAM_SEQ_ID",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "START STREAM",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "V_STREAM_SEQ_ID",
					"value": {
						"value": "@activity('START STREAM').output.FIRSTROW.STREAM_SEQ_ID",
						"type": "Expression"
					}
				}
			},
			{
				"name": "START STREAM",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderStoredProcedureName": "[CNTL].[PROC_CNTL_ACTV_STREAM]",
						"storedProcedureParameters": {
							"P_RUN_MODE": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.P_RUN_MODE",
									"type": "Expression"
								}
							},
							"P_STREAM_NM": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.P_STREAM_NM",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "controltable",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "SET PROCESS LIST",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GET PROCESS LIST",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "SET AS_AT_DT",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "SET STREAM_SEQ_ID",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "V_PCS_NM_LIST",
					"value": {
						"value": "@activity('GET PROCESS LIST').output.value",
						"type": "Expression"
					}
				}
			},
			{
				"name": "FOR EACH PROCESS",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "SET PROCESS LIST",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('V_PCS_NM_LIST')",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 4,
					"activities": [
						{
							"name": "RUN_PCS_05_COMMON",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "05_COMMON_POC",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"P_PROCESS_NM": {
										"value": "@item().PCS_NM",
										"type": "Expression"
									},
									"P_RUN_MODE": {
										"value": "@pipeline().parameters.P_RUN_MODE",
										"type": "Expression"
									},
									"P_STREAM_SEQ_ID": {
										"value": "@variables('V_STREAM_SEQ_ID')",
										"type": "Expression"
									},
									"P_AS_AT_DT": {
										"value": "@variables('V_AS_AT_DT')",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "FINAL STREAM",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "FOR EACH PROCESS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderStoredProcedureName": "[CNTL].[PROC_FINAL_STREAM]",
						"storedProcedureParameters": {
							"P_AS_AT_DT": {
								"type": "String",
								"value": {
									"value": "@variables('V_AS_AT_DT')",
									"type": "Expression"
								}
							},
							"P_STREAM_NM": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.P_STREAM_NM",
									"type": "Expression"
								}
							},
							"P_STREAM_SEQ_ID": {
								"type": "String",
								"value": {
									"value": "@variables('V_STREAM_SEQ_ID')",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "controltable",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "UPDATE STREAM",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "FINAL STREAM",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[CNTL].[PROC_UDT_STREAM]",
					"storedProcedureParameters": {
						"P_STREAM_NM": {
							"value": {
								"value": "@pipeline().parameters.P_STREAM_NM",
								"type": "Expression"
							},
							"type": "String"
						},
						"P_STREAM_RESULT": {
							"value": {
								"value": "@activity('FINAL STREAM').output.firstrow.STREAM_RESULT",
								"type": "Expression"
							},
							"type": "String"
						},
						"P_STREAM_SEQ_ID": {
							"value": {
								"value": "@variables('V_STREAM_SEQ_ID')",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "SqlServer1",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"P_STREAM_NM": {
				"type": "string",
				"defaultValue": "STREAM_1_LOAD"
			},
			"P_RUN_MODE": {
				"type": "string",
				"defaultValue": "R"
			}
		},
		"variables": {
			"V_STREAM_RESULT": {
				"type": "String",
				"defaultValue": "-999"
			},
			"V_PCS_NM_LIST": {
				"type": "Array",
				"defaultValue": [
					999
				]
			},
			"V_AS_AT_DT": {
				"type": "String",
				"defaultValue": "19000101"
			},
			"V_STREAM_SEQ_ID": {
				"type": "String",
				"defaultValue": "-999"
			},
			"STREAM_FLAG": {
				"type": "String"
			},
			"PRCS_NM": {
				"type": "String"
			}
		},
		"folder": {
			"name": "COMMON JOB"
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}