pipeline/20_PROCESS_TYPE1_LOAD.json
{
	"name": "20_PROCESS_TYPE1",
	"properties": {
		"activities": [
			{
				"name": "Lookup",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderStoredProcedureName": "[CNTL].[PROC_GET_FI]",
						"storedProcedureParameters": {
							"P_DATA_DT": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.P_DataDT",
									"type": "Expression"
								}
							},
							"P_FI_ID": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.P_Object.FI_ID",
									"type": "Expression"
								}
							},
							"P_PCS_NM": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.P_Object.PCS_NM",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "controltable",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "DIRECT_DATA_FLOW_CSV_TO_SYNAPSE",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Lookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "DIRECT_DATA_FLOW_CSV_TO_SYNAPSE",
						"type": "DataFlowReference",
						"datasetParameters": {
							"source1": {
								"Filename": {
									"value": "@activity('Lookup').output.firstRow.FI_NM",
									"type": "Expression"
								}
							},
							"sink1": {
								"SynapseTableName": {
									"value": "@pipeline().parameters.P_Object.TGT_TBL",
									"type": "Expression"
								},
								"SynapseSchema": {
									"value": "@pipeline().parameters.P_Object.TGT_SCHEMA_NM",
									"type": "Expression"
								}
							}
						}
					},
					"staging": {
						"linkedService": {
							"referenceName": "adls",
							"type": "LinkedServiceReference"
						},
						"folderPath": "raw/staging"
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "Stored procedure1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "DIRECT_DATA_FLOW_CSV_TO_SYNAPSE",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": {
						"value": "@concat('[dbo].[Transform_',pipeline().parameters.P_Object.TGT_TBL,']')",
						"type": "Expression"
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSynapseAnalytics",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"P_Object": {
				"type": "object"
			},
			"P_DataDT": {
				"type": "string"
			}
		},
		"folder": {
			"name": "COMMON JOB"
		},
		"annotations": []
	}
}