pipeline/mftest_copy1.json
{
	"name": "mftest_copy1",
	"properties": {
		"activities": [
			{
				"name": "Get Files name",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "mftest",
						"type": "DatasetReference",
						"parameters": {
							"FOLDER_NM": {
								"value": "@pipeline().parameters.FOLDER_NM",
								"type": "Expression"
							},
							"FILE_NM": {
								"value": "@coalesce('')",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "ForEachFile",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Files name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@take(activity('Get Files name').output.childItems,5 )",
						"type": "Expression"
					},
					"batchCount": 5,
					"activities": [
						{
							"name": "Move to Processing",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": false,
										"deleteFilesAfterCompletion": true
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "mftest",
									"type": "DatasetReference",
									"parameters": {
										"FOLDER_NM": {
											"value": "@pipeline().parameters.FOLDER_NM",
											"type": "Expression"
										},
										"FILE_NM": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "mftest",
									"type": "DatasetReference",
									"parameters": {
										"FOLDER_NM": {
											"value": "@concat(pipeline().parameters.FOLDER_NM, '_PROCESSING')",
											"type": "Expression"
										},
										"FILE_NM": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"FOLDER_NM": {
				"type": "string",
				"defaultValue": "mfsrc"
			}
		},
		"variables": {
			"Files": {
				"type": "Array"
			},
			"File_List": {
				"type": "Array"
			},
			"count": {
				"type": "Integer",
				"defaultValue": 0
			}
		},
		"folder": {
			"name": "TEST"
		},
		"annotations": []
	}
}