pipeline/mftest_copy1.json
{
	"name": "mftest_copy1",
	"properties": {
		"activities": [
			{
				"name": "Get Folder Name",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "mftest",
						"type": "DatasetReference",
						"parameters": {
							"FOLDER_NM": {
								"value": "@coalesce('')",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Folder Name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Folder Name').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Get files",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "mftest",
									"type": "DatasetReference",
									"parameters": {
										"FOLDER_NM": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"childItems"
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							}
						},
						{
							"name": "Append variable1",
							"type": "AppendVariable",
							"dependsOn": [
								{
									"activity": "Get files",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "Files",
								"value": {
									"value": "@activity('Get files').output.childItems[0]",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Append variable1_copy1",
							"type": "AppendVariable",
							"dependsOn": [
								{
									"activity": "Get files",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "Files",
								"value": {
									"value": "@activity('Get files').output.childItems[1]",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"test": {
				"type": "Array"
			},
			"Files": {
				"type": "Array"
			},
			"File_List": {
				"type": "Array"
			},
			"count": {
				"type": "Integer"
			}
		},
		"folder": {
			"name": "TEST"
		},
		"annotations": []
	}
}