pipeline/PCS_COMMON_2_copy1.json
{
	"name": "PCS_COMMON_2_copy1",
	"properties": {
		"activities": [
			{
				"name": "GET PROCESS INFORMATION",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderStoredProcedureName": "[CNTL].[PROC_GET_PCS]",
						"storedProcedureParameters": {
							"P_PCS_NM": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.P_PCS_NM",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ControlTable",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "SET STREAM_NM",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GET PROCESS INFORMATION",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "V_STREAM_NM",
					"value": {
						"value": "@activity('GET PROCESS INFORMATION').output.firstrow.STREAM_NM",
						"type": "Expression"
					}
				}
			},
			{
				"name": "CHECK STREAM INFORMATION",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "SET STREAM DATE",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('GET STREAM INFORMATION').output.FIRSTROW.CHECK_STREAM_F,'1')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "ABORT CHECK STREAM INFORMATION",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": "SELECT 1/0",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "ControlTable",
									"type": "DatasetReference"
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "PASS CHECK STREAM INFORMATION",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": "SELECT 1",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "ControlTable",
									"type": "DatasetReference"
								}
							}
						}
					]
				}
			},
			{
				"name": "GET STREAM INFORMATION",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "GET PROCESS INFORMATION",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderStoredProcedureName": "[CNTL].[PROC_GET_STREAM_DT]",
						"storedProcedureParameters": {
							"P_PCS_NM": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.P_PCS_NM",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ControlTable",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "SET STREAM DATE",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GET STREAM INFORMATION",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "V_AS_AT_DT",
					"value": {
						"value": "@activity('GET STREAM INFORMATION').output.FIRSTROW.AS_AT_DT",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SET STREAM DATE_copy1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GET STREAM INFORMATION",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "STREAM_FLAG",
					"value": {
						"value": "@activity('GET STREAM INFORMATION').output.FIRSTROW.CHECK_STREAM_F",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"P_PCS_NM": {
				"type": "string",
				"defaultValue": "SINGHAARM_SINGHAARM_AGENT"
			},
			"P_RUN_MODE": {
				"type": "string",
				"defaultValue": "R"
			},
			"P_LOAD_ID": {
				"type": "string",
				"defaultValue": "999"
			}
		},
		"variables": {
			"V_SKIP_PROCESS": {
				"type": "String",
				"defaultValue": "0"
			},
			"V_AS_AT_DT": {
				"type": "String",
				"defaultValue": "999"
			},
			"V_FILE_NAME": {
				"type": "String",
				"defaultValue": "-999"
			},
			"V_STREAM_NM": {
				"type": "String",
				"defaultValue": "-999"
			},
			"V_FILE_PATH": {
				"type": "String",
				"defaultValue": "-999"
			},
			"V_CONNECTION_NM": {
				"type": "String",
				"defaultValue": "-999"
			},
			"STREAM_FLAG": {
				"type": "String"
			}
		},
		"folder": {
			"name": "COMMON JOB"
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}