ADFPOVTUGDEV/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "ADFPOVTUGDEV"
		},
		"AzureSynapseAnalytics_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureSynapseAnalytics'"
		},
		"SqlServer1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'SqlServer1'"
		},
		"adls_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'adls'"
		},
		"adls_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://stpovtug.dfs.core.windows.net/"
		},
		"CDC_File_Trigger_properties_02_CDC_SNAPSHOT_SCD_parameters_FOLDER_NM": {
			"type": "string",
			"defaultValue": "BSEG_DELTA_CHANGES"
		},
		"CDC_File_Trigger_properties_02_CDC_SNAPSHOT_SCD_parameters_DB_NM": {
			"type": "string",
			"defaultValue": "dbo"
		},
		"CDC_File_Trigger_properties_02_CDC_SNAPSHOT_SCD_parameters_TGT_TBL_NM": {
			"type": "string",
			"defaultValue": "BSEG"
		},
		"CDC_File_Trigger_properties_typeProperties_scope": {
			"type": "string",
			"defaultValue": "/subscriptions/179dc394-2676-4356-b9ef-c93874f2f4a7/resourceGroups/POV_TUG/providers/Microsoft.Storage/storageAccounts/stpovtug"
		},
		"integrationRuntime-ADFPOVTUGDEV_properties_typeProperties_linkedInfo_resourceId": {
			"type": "string",
			"defaultValue": "/subscriptions/179dc394-2676-4356-b9ef-c93874f2f4a7/resourcegroups/POV_TUG/providers/Microsoft.DataFactory/factories/ADF-POV-TUG/integrationruntimes/integrationRuntime-POV-TUG"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/00_INITIAL_LOAD')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Bulk Initial Load",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFolderPath": {
										"value": "@pipeline().parameters.FOLDER_NM",
										"type": "Expression"
									},
									"wildcardFileName": "*",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "ParquetReadSettings"
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"allowPolyBase": true,
								"polyBaseSettings": {
									"rejectValue": 0,
									"rejectType": "value",
									"useTypeDefault": true
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "DS_PARQUET_SOURCE",
								"type": "DatasetReference",
								"parameters": {
									"FOLDER_NM": {
										"value": "@pipeline().parameters.FOLDER_NM",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DIRECT_SYNAPSE_DATASET_DYNAMIC",
								"type": "DatasetReference",
								"parameters": {
									"SynapseTableName": {
										"value": "@pipeline().parameters.TGT_TBL_NM",
										"type": "Expression"
									},
									"SynapseSchema": {
										"value": "@pipeline().parameters.TGT_DB_NM",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"FOLDER_NM": {
						"type": "string",
						"defaultValue": "BSEG_1"
					},
					"TGT_DB_NM": {
						"type": "string",
						"defaultValue": "dbo"
					},
					"TGT_TBL_NM": {
						"type": "string"
					}
				},
				"folder": {
					"name": "TEST"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_PARQUET_SOURCE')]",
				"[concat(variables('factoryId'), '/datasets/DIRECT_SYNAPSE_DATASET_DYNAMIC')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/00_STREAM_COMMON_POC')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GET PROCESS LIST",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "START STREAM",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderStoredProcedureName": "[[CNTL].[PROC_GET_PCS_STREAM]",
								"storedProcedureParameters": {
									"P_STREAM_NM": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.P_STREAM_NM",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "controltable",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "SET AS_AT_DT",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "START STREAM",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "V_AS_AT_DT",
							"value": {
								"value": "@activity('START STREAM').output.FIRSTROW.AS_AT_DT",
								"type": "Expression"
							}
						}
					},
					{
						"name": "SET STREAM_SEQ_ID",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "START STREAM",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "V_STREAM_SEQ_ID",
							"value": {
								"value": "@activity('START STREAM').output.FIRSTROW.STREAM_SEQ_ID",
								"type": "Expression"
							}
						}
					},
					{
						"name": "START STREAM",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderStoredProcedureName": "[[CNTL].[PROC_CNTL_ACTV_STREAM]",
								"storedProcedureParameters": {
									"P_RUN_MODE": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.P_RUN_MODE",
											"type": "Expression"
										}
									},
									"P_STREAM_NM": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.P_STREAM_NM",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "controltable",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "SET PROCESS LIST",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "GET PROCESS LIST",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "SET AS_AT_DT",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "SET STREAM_SEQ_ID",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "V_PCS_NM_LIST",
							"value": {
								"value": "@activity('GET PROCESS LIST').output.value",
								"type": "Expression"
							}
						}
					},
					{
						"name": "FOR EACH PROCESS",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "SET PROCESS LIST",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@variables('V_PCS_NM_LIST')",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "RUN_PCS_05_COMMON",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "05_COMMON_POC",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"P_PROCESS_NM": {
												"value": "@item().PCS_NM",
												"type": "Expression"
											},
											"P_RUN_MODE": {
												"value": "@pipeline().parameters.P_RUN_MODE",
												"type": "Expression"
											},
											"P_STREAM_SEQ_ID": {
												"value": "@variables('V_STREAM_SEQ_ID')",
												"type": "Expression"
											},
											"P_AS_AT_DT": {
												"value": "@variables('V_AS_AT_DT')",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "FINAL STREAM",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "FOR EACH PROCESS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderStoredProcedureName": "[[CNTL].[PROC_FINAL_STREAM]",
								"storedProcedureParameters": {
									"P_AS_AT_DT": {
										"type": "String",
										"value": {
											"value": "@variables('V_AS_AT_DT')",
											"type": "Expression"
										}
									},
									"P_STREAM_NM": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.P_STREAM_NM",
											"type": "Expression"
										}
									},
									"P_STREAM_SEQ_ID": {
										"type": "String",
										"value": {
											"value": "@variables('V_STREAM_SEQ_ID')",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "controltable",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "UPDATE STREAM",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "FINAL STREAM",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[CNTL].[PROC_UDT_STREAM]",
							"storedProcedureParameters": {
								"P_STREAM_NM": {
									"value": {
										"value": "@pipeline().parameters.P_STREAM_NM",
										"type": "Expression"
									},
									"type": "String"
								},
								"P_STREAM_RESULT": {
									"value": {
										"value": "@activity('FINAL STREAM').output.firstrow.STREAM_RESULT",
										"type": "Expression"
									},
									"type": "String"
								},
								"P_STREAM_SEQ_ID": {
									"value": {
										"value": "@variables('V_STREAM_SEQ_ID')",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "SqlServer1",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"P_STREAM_NM": {
						"type": "string",
						"defaultValue": "STREAM_1_LOAD"
					},
					"P_RUN_MODE": {
						"type": "string",
						"defaultValue": "R"
					}
				},
				"variables": {
					"V_STREAM_RESULT": {
						"type": "String",
						"defaultValue": "-999"
					},
					"V_PCS_NM_LIST": {
						"type": "Array",
						"defaultValue": [
							999
						]
					},
					"V_AS_AT_DT": {
						"type": "String",
						"defaultValue": "19000101"
					},
					"V_STREAM_SEQ_ID": {
						"type": "String",
						"defaultValue": "-999"
					},
					"STREAM_FLAG": {
						"type": "String"
					},
					"PRCS_NM": {
						"type": "String"
					}
				},
				"folder": {
					"name": "COMMON JOB"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/controltable')]",
				"[concat(variables('factoryId'), '/linkedServices/SqlServer1')]",
				"[concat(variables('factoryId'), '/pipelines/05_COMMON_POC')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/01_LOAD_INITIAL_LOAD_TO_SCD2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Script",
						"type": "Script",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "AzureSynapseAnalytics",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": "INSERT INTO dbo.BSEG_CDC_TEMP (AEDATTM,MANDT,BUKRS,BELNR,GJAHR,BUZEI,BUZID,AUGDT,AUGCP,AUGBL,BSCHL,KOART,UMSKZ,UMSKS,ZUMSK,SHKZG,GSBER,PARGB,MWSKZ,QSSKZ,DMBTR,WRBTR,KZBTR,PSWBT,PSWSL,TXBHW,TXBFW,MWSTS,WMWST,HWBAS,FWBAS,HWZUZ,FWZUZ,SHZUZ,STEKZ,MWART,TXGRP,KTOSL,QSSHB,KURSR,GBETR,BDIFF,BDIF2,VALUT,ZUONR,SGTXT,ZINKZ,VBUND,BEWAR,ALTKT,VORGN,FDLEV,FDGRP,FDWBT,FDTAG,FKONT,KOKRS,KOSTL,PROJN,AUFNR,VBELN,VBEL2,POSN2,ETEN2,ANLN1,ANLN2,ANBWA,BZDAT,PERNR,XUMSW,XHRES,XKRES,XOPVW,XCPDD,XSKST,XSAUF,XSPRO,XSERG,XFAKT,XUMAN,XANET,XSKRL,XINVE,XPANZ,XAUTO,XNCOP,XZAHL,SAKNR,HKONT,KUNNR,LIFNR,FILKD,XBILK,GVTYP,HZUON,ZFBDT,ZTERM,ZBD1T,ZBD2T,ZBD3T,ZBD1P,ZBD2P,SKFBT,SKNTO,WSKTO,ZLSCH,ZLSPR,ZBFIX,HBKID,BVTYP,NEBTR,MWSK1,DMBT1,WRBT1,MWSK2,DMBT2,WRBT2,MWSK3,DMBT3,WRBT3,REBZG,REBZJ,REBZZ,REBZT,ZOLLT,ZOLLD,LZBKZ,LANDL,DIEKZ,SAMNR,ABPER,VRSKZ,VRSDT,DISBN,DISBJ,DISBZ,WVERW,ANFBN,ANFBJ,ANFBU,ANFAE,BLNBT,BLNKZ,BLNPZ,MSCHL,MANSP,MADAT,MANST,MABER,ESRNR,ESRRE,ESRPZ,KLIBT,QSZNR,QBSHB,QSFBT,NAVHW,NAVFW,MATNR,WERKS,MENGE,MEINS,ERFMG,ERFME,BPMNG,BPRME,EBELN,EBELP,ZEKKN,ELIKZ,VPRSV,PEINH,BWKEY,BWTAR,BUSTW,REWRT,REWWR,BONFB,BUALT,PSALT,NPREI,TBTKZ,SPGRP,SPGRM,SPGRT,SPGRG,SPGRV,SPGRQ,STCEG,EGBLD,EGLLD,RSTGR,RYACQ,RPACQ,RDIFF,RDIF2,PRCTR,XHKOM,VNAME,RECID,EGRUP,VPTNR,VERTT,VERTN,VBEWA,DEPOT,TXJCD,IMKEY,DABRZ,POPTS,FIPOS,KSTRG,NPLNR,AUFPL,APLZL,PROJK,PAOBJNR,PASUBNR,SPGRS,SPGRC,BTYPE,ETYPE,XEGDR,LNRAN,HRKFT,DMBE2,DMBE3,DMB21,DMB22,DMB23,DMB31,DMB32,DMB33,MWST2,MWST3,NAVH2,NAVH3,SKNT2,SKNT3,BDIF3,RDIF3,HWMET,GLUPM,XRAGL,UZAWE,LOKKT,FISTL,GEBER,STBUK,TXBH2,TXBH3,PPRCT,XREF1,XREF2,KBLNR,KBLPOS,STTAX,FKBER,OBZEI,XNEGP,RFZEI,CCBTC,KKBER,EMPFB,XREF3,DTWS1,DTWS2,DTWS3,DTWS4,GRICD,GRIRG,GITYP,XPYPR,KIDNO,ABSBT,IDXSP,LINFV,KONTT,KONTL,UEBGDAT,TXDAT,AGZEI,PYCUR,PYAMT,BUPLA,SECCO,LSTAR,CESSION_KZ,PRZNR,PPDIFF,PPDIF2,PPDIF3,PENLC1,PENLC2,PENLC3,PENFC,PENDAYS,PENRC,GRANT_NBR,SCTAX,FKBER_LONG,GMVKZ,SRTYPE,INTRENO,MEASURE,AUGGJ,PPA_EX_IND,DOCLN,SEGMENT,PSEGMENT,PFKBER,HKTID,KSTAR,XLGCLR,TAXPS,PAYS_PROV,PAYS_TRAN,MNDID,XFRGE_BSEG,AWTYP,AWKEY,AWSYS,POSNR,BUZEI_SENDER,H_MONAT,H_BSTAT,H_BUDAT,H_BLDAT,H_WAERS,H_BLART,H_HWAER,H_HWAE2,H_HWAE3,NETDT,SK1DT,SK2DT,_DATAAGING,FQFTYPE,LQITEM,GKONT,GKART,GHKON,SQUAN,ANLN2_PN,BWASL_PN,BZDAT_PN,XVABG_PN,ANBTR_PN,PROZS_PN,ZZHRKFT,ZZHRKTX,DUMMY_INCL_EEW_COBL,RE_BUKRS,RE_ACCOUNT,PGEBER,PGRANT_NBR,BUDGET_PD,PBUDGET_PD,J_1TPBUPL,PEROP_BEG,PEROP_END,FASTPAY,IGNR_IVREF,FMFGUS_KEY,FMXDOCNR,FMXYEAR,FMXDOCLN,FMXZEKKN,PRODPER,GST_PART,PLC_SUP,HSN_SAC,RECRF,INWARD_NO,INWARD_DT,GROUND_NO,GROUND_DT,GROUND_TYP,PYMTKEY)\nSELECT GETDATE(),MANDT,BUKRS,BELNR,GJAHR,BUZEI,BUZID,AUGDT,AUGCP,AUGBL,BSCHL,KOART,UMSKZ,UMSKS,ZUMSK,SHKZG,GSBER,PARGB,MWSKZ,QSSKZ,DMBTR,WRBTR,KZBTR,PSWBT,PSWSL,TXBHW,TXBFW,MWSTS,WMWST,HWBAS,FWBAS,HWZUZ,FWZUZ,SHZUZ,STEKZ,MWART,TXGRP,KTOSL,QSSHB,KURSR,GBETR,BDIFF,BDIF2,VALUT,ZUONR,SGTXT,ZINKZ,VBUND,BEWAR,ALTKT,VORGN,FDLEV,FDGRP,FDWBT,FDTAG,FKONT,KOKRS,KOSTL,PROJN,AUFNR,VBELN,VBEL2,POSN2,ETEN2,ANLN1,ANLN2,ANBWA,BZDAT,PERNR,XUMSW,XHRES,XKRES,XOPVW,XCPDD,XSKST,XSAUF,XSPRO,XSERG,XFAKT,XUMAN,XANET,XSKRL,XINVE,XPANZ,XAUTO,XNCOP,XZAHL,SAKNR,HKONT,KUNNR,LIFNR,FILKD,XBILK,GVTYP,HZUON,ZFBDT,ZTERM,ZBD1T,ZBD2T,ZBD3T,ZBD1P,ZBD2P,SKFBT,SKNTO,WSKTO,ZLSCH,ZLSPR,ZBFIX,HBKID,BVTYP,NEBTR,MWSK1,DMBT1,WRBT1,MWSK2,DMBT2,WRBT2,MWSK3,DMBT3,WRBT3,REBZG,REBZJ,REBZZ,REBZT,ZOLLT,ZOLLD,LZBKZ,LANDL,DIEKZ,SAMNR,ABPER,VRSKZ,VRSDT,DISBN,DISBJ,DISBZ,WVERW,ANFBN,ANFBJ,ANFBU,ANFAE,BLNBT,BLNKZ,BLNPZ,MSCHL,MANSP,MADAT,MANST,MABER,ESRNR,ESRRE,ESRPZ,KLIBT,QSZNR,QBSHB,QSFBT,NAVHW,NAVFW,MATNR,WERKS,MENGE,MEINS,ERFMG,ERFME,BPMNG,BPRME,EBELN,EBELP,ZEKKN,ELIKZ,VPRSV,PEINH,BWKEY,BWTAR,BUSTW,REWRT,REWWR,BONFB,BUALT,PSALT,NPREI,TBTKZ,SPGRP,SPGRM,SPGRT,SPGRG,SPGRV,SPGRQ,STCEG,EGBLD,EGLLD,RSTGR,RYACQ,RPACQ,RDIFF,RDIF2,PRCTR,XHKOM,VNAME,RECID,EGRUP,VPTNR,VERTT,VERTN,VBEWA,DEPOT,TXJCD,IMKEY,DABRZ,POPTS,FIPOS,KSTRG,NPLNR,AUFPL,APLZL,PROJK,PAOBJNR,PASUBNR,SPGRS,SPGRC,BTYPE,ETYPE,XEGDR,LNRAN,HRKFT,DMBE2,DMBE3,DMB21,DMB22,DMB23,DMB31,DMB32,DMB33,MWST2,MWST3,NAVH2,NAVH3,SKNT2,SKNT3,BDIF3,RDIF3,HWMET,GLUPM,XRAGL,UZAWE,LOKKT,FISTL,GEBER,STBUK,TXBH2,TXBH3,PPRCT,XREF1,XREF2,KBLNR,KBLPOS,STTAX,FKBER,OBZEI,XNEGP,RFZEI,CCBTC,KKBER,EMPFB,XREF3,DTWS1,DTWS2,DTWS3,DTWS4,GRICD,GRIRG,GITYP,XPYPR,KIDNO,ABSBT,IDXSP,LINFV,KONTT,KONTL,UEBGDAT,TXDAT,AGZEI,PYCUR,PYAMT,BUPLA,SECCO,LSTAR,CESSION_KZ,PRZNR,PPDIFF,PPDIF2,PPDIF3,PENLC1,PENLC2,PENLC3,PENFC,PENDAYS,PENRC,GRANT_NBR,SCTAX,FKBER_LONG,GMVKZ,SRTYPE,INTRENO,MEASURE,AUGGJ,PPA_EX_IND,DOCLN,SEGMENT,PSEGMENT,PFKBER,HKTID,KSTAR,XLGCLR,TAXPS,PAYS_PROV,PAYS_TRAN,MNDID,XFRGE_BSEG,AWTYP,AWKEY,AWSYS,POSNR,BUZEI_SENDER,H_MONAT,H_BSTAT,H_BUDAT,H_BLDAT,H_WAERS,H_BLART,H_HWAER,H_HWAE2,H_HWAE3,NETDT,SK1DT,SK2DT,_DATAAGING,FQFTYPE,LQITEM,GKONT,GKART,GHKON,SQUAN,ANLN2_PN,BWASL_PN,BZDAT_PN,XVABG_PN,ANBTR_PN,PROZS_PN,ZZHRKFT,ZZHRKTX,DUMMY_INCL_EEW_COBL,RE_BUKRS,RE_ACCOUNT,PGEBER,PGRANT_NBR,BUDGET_PD,PBUDGET_PD,J_1TPBUPL,PEROP_BEG,PEROP_END,FASTPAY,IGNR_IVREF,FMFGUS_KEY,FMXDOCNR,FMXYEAR,FMXDOCLN,FMXZEKKN,PRODPER,GST_PART,PLC_SUP,HSN_SAC,RECRF,INWARD_NO,INWARD_DT,GROUND_NO,GROUND_DT,GROUND_TYP,PYMTKEY\nFROM dbo.BSEG\n;"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "TEST"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSynapseAnalytics')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/01_LOAD_INITIAL_LOAD_TO_TEMP')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Script1",
						"type": "Script",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "AzureSynapseAnalytics",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": "INSERT INTO dbo.BSEG_CDC_TEMP (AEDATTM,MANDT,BUKRS,BELNR,GJAHR,BUZEI,BUZID,AUGDT,AUGCP,AUGBL,BSCHL,KOART,UMSKZ,UMSKS,ZUMSK,SHKZG,GSBER,PARGB,MWSKZ,QSSKZ,DMBTR,WRBTR,KZBTR,PSWBT,PSWSL,TXBHW,TXBFW,MWSTS,WMWST,HWBAS,FWBAS,HWZUZ,FWZUZ,SHZUZ,STEKZ,MWART,TXGRP,KTOSL,QSSHB,KURSR,GBETR,BDIFF,BDIF2,VALUT,ZUONR,SGTXT,ZINKZ,VBUND,BEWAR,ALTKT,VORGN,FDLEV,FDGRP,FDWBT,FDTAG,FKONT,KOKRS,KOSTL,PROJN,AUFNR,VBELN,VBEL2,POSN2,ETEN2,ANLN1,ANLN2,ANBWA,BZDAT,PERNR,XUMSW,XHRES,XKRES,XOPVW,XCPDD,XSKST,XSAUF,XSPRO,XSERG,XFAKT,XUMAN,XANET,XSKRL,XINVE,XPANZ,XAUTO,XNCOP,XZAHL,SAKNR,HKONT,KUNNR,LIFNR,FILKD,XBILK,GVTYP,HZUON,ZFBDT,ZTERM,ZBD1T,ZBD2T,ZBD3T,ZBD1P,ZBD2P,SKFBT,SKNTO,WSKTO,ZLSCH,ZLSPR,ZBFIX,HBKID,BVTYP,NEBTR,MWSK1,DMBT1,WRBT1,MWSK2,DMBT2,WRBT2,MWSK3,DMBT3,WRBT3,REBZG,REBZJ,REBZZ,REBZT,ZOLLT,ZOLLD,LZBKZ,LANDL,DIEKZ,SAMNR,ABPER,VRSKZ,VRSDT,DISBN,DISBJ,DISBZ,WVERW,ANFBN,ANFBJ,ANFBU,ANFAE,BLNBT,BLNKZ,BLNPZ,MSCHL,MANSP,MADAT,MANST,MABER,ESRNR,ESRRE,ESRPZ,KLIBT,QSZNR,QBSHB,QSFBT,NAVHW,NAVFW,MATNR,WERKS,MENGE,MEINS,ERFMG,ERFME,BPMNG,BPRME,EBELN,EBELP,ZEKKN,ELIKZ,VPRSV,PEINH,BWKEY,BWTAR,BUSTW,REWRT,REWWR,BONFB,BUALT,PSALT,NPREI,TBTKZ,SPGRP,SPGRM,SPGRT,SPGRG,SPGRV,SPGRQ,STCEG,EGBLD,EGLLD,RSTGR,RYACQ,RPACQ,RDIFF,RDIF2,PRCTR,XHKOM,VNAME,RECID,EGRUP,VPTNR,VERTT,VERTN,VBEWA,DEPOT,TXJCD,IMKEY,DABRZ,POPTS,FIPOS,KSTRG,NPLNR,AUFPL,APLZL,PROJK,PAOBJNR,PASUBNR,SPGRS,SPGRC,BTYPE,ETYPE,XEGDR,LNRAN,HRKFT,DMBE2,DMBE3,DMB21,DMB22,DMB23,DMB31,DMB32,DMB33,MWST2,MWST3,NAVH2,NAVH3,SKNT2,SKNT3,BDIF3,RDIF3,HWMET,GLUPM,XRAGL,UZAWE,LOKKT,FISTL,GEBER,STBUK,TXBH2,TXBH3,PPRCT,XREF1,XREF2,KBLNR,KBLPOS,STTAX,FKBER,OBZEI,XNEGP,RFZEI,CCBTC,KKBER,EMPFB,XREF3,DTWS1,DTWS2,DTWS3,DTWS4,GRICD,GRIRG,GITYP,XPYPR,KIDNO,ABSBT,IDXSP,LINFV,KONTT,KONTL,UEBGDAT,TXDAT,AGZEI,PYCUR,PYAMT,BUPLA,SECCO,LSTAR,CESSION_KZ,PRZNR,PPDIFF,PPDIF2,PPDIF3,PENLC1,PENLC2,PENLC3,PENFC,PENDAYS,PENRC,GRANT_NBR,SCTAX,FKBER_LONG,GMVKZ,SRTYPE,INTRENO,MEASURE,AUGGJ,PPA_EX_IND,DOCLN,SEGMENT,PSEGMENT,PFKBER,HKTID,KSTAR,XLGCLR,TAXPS,PAYS_PROV,PAYS_TRAN,MNDID,XFRGE_BSEG,AWTYP,AWKEY,AWSYS,POSNR,BUZEI_SENDER,H_MONAT,H_BSTAT,H_BUDAT,H_BLDAT,H_WAERS,H_BLART,H_HWAER,H_HWAE2,H_HWAE3,NETDT,SK1DT,SK2DT,_DATAAGING,FQFTYPE,LQITEM,GKONT,GKART,GHKON,SQUAN,ANLN2_PN,BWASL_PN,BZDAT_PN,XVABG_PN,ANBTR_PN,PROZS_PN,ZZHRKFT,ZZHRKTX,DUMMY_INCL_EEW_COBL,RE_BUKRS,RE_ACCOUNT,PGEBER,PGRANT_NBR,BUDGET_PD,PBUDGET_PD,J_1TPBUPL,PEROP_BEG,PEROP_END,FASTPAY,IGNR_IVREF,FMFGUS_KEY,FMXDOCNR,FMXYEAR,FMXDOCLN,FMXZEKKN,PRODPER,GST_PART,PLC_SUP,HSN_SAC,RECRF,INWARD_NO,INWARD_DT,GROUND_NO,GROUND_DT,GROUND_TYP,PYMTKEY)\nSELECT GETDATE(),MANDT,BUKRS,BELNR,GJAHR,BUZEI,BUZID,AUGDT,AUGCP,AUGBL,BSCHL,KOART,UMSKZ,UMSKS,ZUMSK,SHKZG,GSBER,PARGB,MWSKZ,QSSKZ,DMBTR,WRBTR,KZBTR,PSWBT,PSWSL,TXBHW,TXBFW,MWSTS,WMWST,HWBAS,FWBAS,HWZUZ,FWZUZ,SHZUZ,STEKZ,MWART,TXGRP,KTOSL,QSSHB,KURSR,GBETR,BDIFF,BDIF2,VALUT,ZUONR,SGTXT,ZINKZ,VBUND,BEWAR,ALTKT,VORGN,FDLEV,FDGRP,FDWBT,FDTAG,FKONT,KOKRS,KOSTL,PROJN,AUFNR,VBELN,VBEL2,POSN2,ETEN2,ANLN1,ANLN2,ANBWA,BZDAT,PERNR,XUMSW,XHRES,XKRES,XOPVW,XCPDD,XSKST,XSAUF,XSPRO,XSERG,XFAKT,XUMAN,XANET,XSKRL,XINVE,XPANZ,XAUTO,XNCOP,XZAHL,SAKNR,HKONT,KUNNR,LIFNR,FILKD,XBILK,GVTYP,HZUON,ZFBDT,ZTERM,ZBD1T,ZBD2T,ZBD3T,ZBD1P,ZBD2P,SKFBT,SKNTO,WSKTO,ZLSCH,ZLSPR,ZBFIX,HBKID,BVTYP,NEBTR,MWSK1,DMBT1,WRBT1,MWSK2,DMBT2,WRBT2,MWSK3,DMBT3,WRBT3,REBZG,REBZJ,REBZZ,REBZT,ZOLLT,ZOLLD,LZBKZ,LANDL,DIEKZ,SAMNR,ABPER,VRSKZ,VRSDT,DISBN,DISBJ,DISBZ,WVERW,ANFBN,ANFBJ,ANFBU,ANFAE,BLNBT,BLNKZ,BLNPZ,MSCHL,MANSP,MADAT,MANST,MABER,ESRNR,ESRRE,ESRPZ,KLIBT,QSZNR,QBSHB,QSFBT,NAVHW,NAVFW,MATNR,WERKS,MENGE,MEINS,ERFMG,ERFME,BPMNG,BPRME,EBELN,EBELP,ZEKKN,ELIKZ,VPRSV,PEINH,BWKEY,BWTAR,BUSTW,REWRT,REWWR,BONFB,BUALT,PSALT,NPREI,TBTKZ,SPGRP,SPGRM,SPGRT,SPGRG,SPGRV,SPGRQ,STCEG,EGBLD,EGLLD,RSTGR,RYACQ,RPACQ,RDIFF,RDIF2,PRCTR,XHKOM,VNAME,RECID,EGRUP,VPTNR,VERTT,VERTN,VBEWA,DEPOT,TXJCD,IMKEY,DABRZ,POPTS,FIPOS,KSTRG,NPLNR,AUFPL,APLZL,PROJK,PAOBJNR,PASUBNR,SPGRS,SPGRC,BTYPE,ETYPE,XEGDR,LNRAN,HRKFT,DMBE2,DMBE3,DMB21,DMB22,DMB23,DMB31,DMB32,DMB33,MWST2,MWST3,NAVH2,NAVH3,SKNT2,SKNT3,BDIF3,RDIF3,HWMET,GLUPM,XRAGL,UZAWE,LOKKT,FISTL,GEBER,STBUK,TXBH2,TXBH3,PPRCT,XREF1,XREF2,KBLNR,KBLPOS,STTAX,FKBER,OBZEI,XNEGP,RFZEI,CCBTC,KKBER,EMPFB,XREF3,DTWS1,DTWS2,DTWS3,DTWS4,GRICD,GRIRG,GITYP,XPYPR,KIDNO,ABSBT,IDXSP,LINFV,KONTT,KONTL,UEBGDAT,TXDAT,AGZEI,PYCUR,PYAMT,BUPLA,SECCO,LSTAR,CESSION_KZ,PRZNR,PPDIFF,PPDIF2,PPDIF3,PENLC1,PENLC2,PENLC3,PENFC,PENDAYS,PENRC,GRANT_NBR,SCTAX,FKBER_LONG,GMVKZ,SRTYPE,INTRENO,MEASURE,AUGGJ,PPA_EX_IND,DOCLN,SEGMENT,PSEGMENT,PFKBER,HKTID,KSTAR,XLGCLR,TAXPS,PAYS_PROV,PAYS_TRAN,MNDID,XFRGE_BSEG,AWTYP,AWKEY,AWSYS,POSNR,BUZEI_SENDER,H_MONAT,H_BSTAT,H_BUDAT,H_BLDAT,H_WAERS,H_BLART,H_HWAER,H_HWAE2,H_HWAE3,NETDT,SK1DT,SK2DT,_DATAAGING,FQFTYPE,LQITEM,GKONT,GKART,GHKON,SQUAN,ANLN2_PN,BWASL_PN,BZDAT_PN,XVABG_PN,ANBTR_PN,PROZS_PN,ZZHRKFT,ZZHRKTX,DUMMY_INCL_EEW_COBL,RE_BUKRS,RE_ACCOUNT,PGEBER,PGRANT_NBR,BUDGET_PD,PBUDGET_PD,J_1TPBUPL,PEROP_BEG,PEROP_END,FASTPAY,IGNR_IVREF,FMFGUS_KEY,FMXDOCNR,FMXYEAR,FMXDOCLN,FMXZEKKN,PRODPER,GST_PART,PLC_SUP,HSN_SAC,RECRF,INWARD_NO,INWARD_DT,GROUND_NO,GROUND_DT,GROUND_TYP,PYMTKEY \nFROM dbo.BSEG ;"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "TEST"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSynapseAnalytics')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/02_CDC_SNAPSHOT_SCD')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CDC Snapshot",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "CDC_SNAP_CHANGE",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"CDC": {
										"FOLDER_NM": {
											"value": "@pipeline().parameters.FOLDER_NM",
											"type": "Expression"
										}
									},
									"TMPCDC": {
										"SynapseTableName": {
											"value": "@concat('TMP_CDC_',pipeline().parameters.TGT_TBL_NM)",
											"type": "Expression"
										},
										"SynapseSchema": {
											"value": "@pipeline().parameters.DB_NM",
											"type": "Expression"
										}
									},
									"CDCLOG": {
										"SynapseTableName": {
											"value": "@concat('LOG_CDC_',pipeline().parameters.TGT_TBL_NM)",
											"type": "Expression"
										},
										"SynapseSchema": {
											"value": "@pipeline().parameters.DB_NM",
											"type": "Expression"
										}
									}
								}
							},
							"staging": {
								"linkedService": {
									"referenceName": "adls",
									"type": "LinkedServiceReference"
								},
								"folderPath": "synapse-povtug/TMP_STAGING"
							},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Coarse",
							"continuationSettings": {
								"customizedCheckpointKey": "55de936d-2a87-4248-8cdf-6fd70b2812c4"
							}
						}
					}
				],
				"concurrency": 1,
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"FOLDER_NM": {
						"type": "string",
						"defaultValue": "BSEG_DELTA_CHANGES"
					},
					"DB_NM": {
						"type": "string",
						"defaultValue": "dbo"
					},
					"TGT_TBL_NM": {
						"type": "string",
						"defaultValue": "BSEG"
					}
				},
				"folder": {
					"name": "TEST"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/CDC_SNAP_CHANGE')]",
				"[concat(variables('factoryId'), '/linkedServices/adls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/05_COMMON_POC')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "INSERT PROCESS LOG",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderStoredProcedureName": "[[CNTL].[PROC_CNTL_START_PCS]",
								"storedProcedureParameters": {
									"P_PCS_NM": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.P_PROCESS_NM",
											"type": "Expression"
										}
									},
									"P_RUN_MODE": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.P_RUN_MODE",
											"type": "Expression"
										}
									},
									"P_STREAM_SEQ_ID": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.P_STREAM_SEQ_ID",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "controltable",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": true
						}
					},
					{
						"name": "GET SKIP FLAG",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "INSERT PROCESS LOG",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "V_SKIP_PROCESS",
							"value": {
								"value": "@activity('INSERT PROCESS LOG').output.FIRSTROW.SKIP_PROCESS",
								"type": "Expression"
							}
						}
					},
					{
						"name": "GET LOAD ID",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "INSERT PROCESS LOG",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "V_LOAD_ID",
							"value": {
								"value": "@activity('INSERT PROCESS LOG').output.FIRSTROW.LOAD_ID",
								"type": "Expression"
							}
						}
					},
					{
						"name": "CHECK SKIP FLAG",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "GET SKIP FLAG",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "GET LOAD ID",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(variables('V_SKIP_PROCESS'),'0')",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "SKIP PROCESS",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"sqlReaderQuery": "SELECT 1",
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "controltable",
											"type": "DatasetReference",
											"parameters": {}
										}
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "RUN_PCS_10_COMMON",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "10_COMMON_POC",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"P_PCS_NM": {
												"value": "@pipeline().parameters.P_PROCESS_NM",
												"type": "Expression"
											},
											"P_RUN_MODE": {
												"value": "@pipeline().parameters.P_RUN_MODE",
												"type": "Expression"
											},
											"P_LOAD_ID": {
												"value": "@variables('V_LOAD_ID')",
												"type": "Expression"
											},
											"P_AS_AT_DT": {
												"value": "@pipeline().parameters.P_AS_AT_DT",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"P_PROCESS_NM": {
						"type": "string",
						"defaultValue": "SINGHAARM_SINGHAARM_AGENT"
					},
					"P_RUN_MODE": {
						"type": "string",
						"defaultValue": "R"
					},
					"P_STREAM_SEQ_ID": {
						"type": "string",
						"defaultValue": "-999"
					},
					"P_AS_AT_DT": {
						"type": "string"
					}
				},
				"variables": {
					"V_SKIP_PROCESS": {
						"type": "String",
						"defaultValue": "999"
					},
					"V_LOAD_ID": {
						"type": "String",
						"defaultValue": "999"
					},
					"STREAM_FLAG": {
						"type": "String"
					},
					"PRCS_NM": {
						"type": "String"
					},
					"PRCS_TYPE": {
						"type": "String"
					}
				},
				"folder": {
					"name": "COMMON JOB"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/controltable')]",
				"[concat(variables('factoryId'), '/pipelines/10_COMMON_POC')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/10_COMMON_POC')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GET PROCESS INFORMATION",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderStoredProcedureName": "[[CNTL].[PROC_GET_PCS]",
								"storedProcedureParameters": {
									"P_PCS_NM": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.P_PCS_NM",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "controltable",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "CHECK LATEST LOG",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "GET LATEST LOG",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(activity('GET LATEST LOG').output.FIRSTROW.LTST_LOG_F,'1')",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "ABORT CHECK LATEST LOG",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"sqlReaderQuery": "SELECT 1/0",
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "controltable",
											"type": "DatasetReference",
											"parameters": {}
										}
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "PASS CHECK LATEST LOG",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"sqlReaderQuery": "SELECT 1",
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "controltable",
											"type": "DatasetReference",
											"parameters": {}
										}
									}
								}
							]
						}
					},
					{
						"name": "GET LATEST LOG",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "GET PROCESS INFORMATION",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderStoredProcedureName": "[[CNTL].[PROC_CHK_LTST_PCS]",
								"storedProcedureParameters": {
									"P_LOAD_ID": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.P_LOAD_ID",
											"type": "Expression"
										}
									},
									"P_PCS_NM": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.P_PCS_NM",
											"type": "Expression"
										}
									},
									"P_RUN_MODE": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.P_RUN_MODE",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "controltable",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "CHECK DNDP",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "GET DNDP",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(activity('GET DNDP').output.FIRSTROW.DPND_F,'1')",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "ABORT CHECK DNDP",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"sqlReaderQuery": "SELECT 1/0",
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "controltable",
											"type": "DatasetReference",
											"parameters": {}
										}
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "PASS CHECK DNDP",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"sqlReaderQuery": "SELECT 1",
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "controltable",
											"type": "DatasetReference",
											"parameters": {}
										}
									}
								}
							]
						}
					},
					{
						"name": "GET DNDP",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "CHECK LATEST LOG",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderStoredProcedureName": "[[CNTL].[PROC_CHK_DPND_PCS]",
								"storedProcedureParameters": {
									"P_AS_AT_DT": {
										"type": "String",
										"value": {
											"value": "@variables('V_AS_AT_DT')",
											"type": "Expression"
										}
									},
									"P_LOAD_ID": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.P_LOAD_ID",
											"type": "Expression"
										}
									},
									"P_PCS_NM": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.P_PCS_NM",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "controltable",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "UPDATE FAILED ON LATEST LOG",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "CHECK LATEST LOG",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[CNTL].[PROC_UDT_PCS]",
							"storedProcedureParameters": {
								"P_CNT_SRC": {
									"value": null,
									"type": "String"
								},
								"P_CNT_TGT": {
									"value": null,
									"type": "String"
								},
								"P_LOAD_ID": {
									"value": {
										"value": "@pipeline().parameters.P_LOAD_ID",
										"type": "Expression"
									},
									"type": "String"
								},
								"P_PCS_NM": {
									"value": {
										"value": "@pipeline().parameters.P_PCS_NM",
										"type": "Expression"
									},
									"type": "String"
								},
								"P_RMRK": {
									"value": "PREVIOUS CYCLE PROCESS DID NOT COMPLETE",
									"type": "String"
								},
								"P_ST": {
									"value": "FAILED",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "SqlServer1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "UPDATE FAILED ON DEPENDENCIES",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "CHECK DNDP",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[CNTL].[PROC_UDT_PCS]",
							"storedProcedureParameters": {
								"P_CNT_SRC": {
									"value": null,
									"type": "String"
								},
								"P_CNT_TGT": {
									"value": null,
									"type": "String"
								},
								"P_LOAD_ID": {
									"value": {
										"value": "@pipeline().parameters.P_LOAD_ID",
										"type": "Expression"
									},
									"type": "String"
								},
								"P_PCS_NM": {
									"value": {
										"value": "@pipeline().parameters.P_PCS_NM",
										"type": "Expression"
									},
									"type": "String"
								},
								"P_RMRK": {
									"value": "CHECKING DEPENDENCY FAILED",
									"type": "String"
								},
								"P_ST": {
									"value": "FAILED",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "SqlServer1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Switch1",
						"type": "Switch",
						"dependsOn": [
							{
								"activity": "Lookup_PRCS_TYPE",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"on": {
								"value": "@activity('Lookup_PRCS_TYPE').output.firstRow.PCS_TYPE ",
								"type": "Expression"
							},
							"cases": [
								{
									"value": "1",
									"activities": [
										{
											"name": "EXECUTE_PCS_TYPE1",
											"type": "ExecutePipeline",
											"dependsOn": [],
											"userProperties": [],
											"typeProperties": {
												"pipeline": {
													"referenceName": "20_PROCESS_TYPE1_LOAD",
													"type": "PipelineReference"
												},
												"waitOnCompletion": true,
												"parameters": {
													"P_Object": {
														"value": "@activity('GET PROCESS INFORMATION').output.firstRow",
														"type": "Expression"
													},
													"P_DataDT": {
														"value": "@pipeline().parameters.P_AS_AT_DT",
														"type": "Expression"
													}
												}
											}
										}
									]
								},
								{
									"value": "2",
									"activities": [
										{
											"name": "EXECUTE_PCS_TYPE2",
											"type": "ExecutePipeline",
											"dependsOn": [],
											"userProperties": [],
											"typeProperties": {
												"pipeline": {
													"referenceName": "20_PROCESS_TYPE2_TRANS",
													"type": "PipelineReference"
												},
												"waitOnCompletion": true,
												"parameters": {
													"P_Object": {
														"value": "@activity('GET PROCESS INFORMATION').output.firstRow",
														"type": "Expression"
													},
													"P_DataDT": {
														"value": "@pipeline().parameters.P_AS_AT_DT",
														"type": "Expression"
													}
												}
											}
										}
									]
								},
								{
									"value": "3",
									"activities": [
										{
											"name": "EXECUTE_PCS_TYPE3",
											"type": "ExecutePipeline",
											"dependsOn": [],
											"userProperties": [],
											"typeProperties": {
												"pipeline": {
													"referenceName": "20_PROCESS_TYPE3_CDC_TEMP_TO_LOG",
													"type": "PipelineReference"
												},
												"waitOnCompletion": true,
												"parameters": {
													"P_Object": {
														"value": "@activity('GET PROCESS INFORMATION').output.firstRow",
														"type": "Expression"
													},
													"P_DataDT": {
														"value": "@pipeline().parameters.P_AS_AT_DT",
														"type": "Expression"
													}
												}
											}
										}
									]
								},
								{
									"value": "4",
									"activities": [
										{
											"name": "EXECUTE_PCS_TYPE4",
											"type": "ExecutePipeline",
											"dependsOn": [],
											"userProperties": [],
											"typeProperties": {
												"pipeline": {
													"referenceName": "20_PROCESS_TYPE4_CDC_STREAM",
													"type": "PipelineReference"
												},
												"waitOnCompletion": true,
												"parameters": {
													"P_Object": {
														"value": "@activity('GET PROCESS INFORMATION').output.firstRow",
														"type": "Expression"
													},
													"P_DataDT": {
														"value": "@pipeline().parameters.P_AS_AT_DT",
														"type": "Expression"
													}
												}
											}
										}
									]
								}
							]
						}
					},
					{
						"name": "Lookup_PRCS_TYPE",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "CHECK DNDP",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": {
									"value": "@CONCAT('SELECT * FROM CNTL.CNTL_CFG_PCS WHERE PCS_NM = ''', pipeline().parameters.P_PCS_NM, '''')\n",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "controltable",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "UPDATE SUCCESS",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Switch1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[CNTL].[PROC_UDT_PCS]",
							"storedProcedureParameters": {
								"P_CNT_SRC": {
									"value": "0",
									"type": "String"
								},
								"P_CNT_TGT": {
									"value": "0",
									"type": "String"
								},
								"P_LOAD_ID": {
									"value": {
										"value": "@pipeline().parameters.P_LOAD_ID",
										"type": "Expression"
									},
									"type": "String"
								},
								"P_PCS_NM": {
									"value": {
										"value": "@pipeline().parameters.P_PCS_NM",
										"type": "Expression"
									},
									"type": "String"
								},
								"P_RMRK": {
									"value": null,
									"type": "String"
								},
								"P_ST": {
									"value": "SUCCESS",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "SqlServer1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "UPDATE FAILED ON COPY ACTIVITY",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Switch1",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[CNTL].[PROC_UDT_PCS]",
							"storedProcedureParameters": {
								"P_CNT_SRC": {
									"value": null,
									"type": "String"
								},
								"P_CNT_TGT": {
									"value": null,
									"type": "String"
								},
								"P_LOAD_ID": {
									"value": {
										"value": "@pipeline().parameters.P_LOAD_ID",
										"type": "Expression"
									},
									"type": "String"
								},
								"P_PCS_NM": {
									"value": {
										"value": "@pipeline().parameters.P_PCS_NM",
										"type": "Expression"
									},
									"type": "String"
								},
								"P_RMRK": {
									"value": "COPY ACTIVITY FAILED",
									"type": "String"
								},
								"P_ST": {
									"value": "FAILED",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "SqlServer1",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"P_PCS_NM": {
						"type": "string"
					},
					"P_RUN_MODE": {
						"type": "string"
					},
					"P_LOAD_ID": {
						"type": "string"
					},
					"P_AS_AT_DT": {
						"type": "string"
					}
				},
				"variables": {
					"V_SKIP_PROCESS": {
						"type": "String"
					},
					"V_AS_AT_DT": {
						"type": "String"
					},
					"V_FILE_NAME": {
						"type": "String"
					},
					"V_STREAM_NM": {
						"type": "String"
					},
					"V_FILE_PATH": {
						"type": "String"
					},
					"V_CONNECTION_NM": {
						"type": "String"
					},
					"PRCS_NM": {
						"type": "String"
					},
					"PRCS_TYPE": {
						"type": "String"
					}
				},
				"folder": {
					"name": "COMMON JOB"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/controltable')]",
				"[concat(variables('factoryId'), '/linkedServices/SqlServer1')]",
				"[concat(variables('factoryId'), '/pipelines/20_PROCESS_TYPE1_LOAD')]",
				"[concat(variables('factoryId'), '/pipelines/20_PROCESS_TYPE2_TRANS')]",
				"[concat(variables('factoryId'), '/pipelines/20_PROCESS_TYPE3_CDC_TEMP_TO_LOG')]",
				"[concat(variables('factoryId'), '/pipelines/20_PROCESS_TYPE4_CDC_STREAM')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/20_PROCESS_TYPE1_LOAD')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderStoredProcedureName": "[[CNTL].[PROC_GET_FI]",
								"storedProcedureParameters": {
									"P_DATA_DT": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.P_DataDT",
											"type": "Expression"
										}
									},
									"P_FI_ID": {
										"type": "Int32",
										"value": {
											"value": "@pipeline().parameters.P_Object.FI_ID",
											"type": "Expression"
										}
									},
									"P_PCS_NM": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.P_Object.PCS_NM",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "controltable",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "DIRECT_DATA_FLOW_CSV_TO_SYNAPSE",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Lookup",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DIRECT_DATA_FLOW_CSV_TO_SYNAPSE",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {
										"FileName": {
											"value": "@activity('Lookup').output.firstRow.FI_NM",
											"type": "Expression"
										}
									},
									"sink1": {
										"SynapseTableName": {
											"value": "@pipeline().parameters.P_Object.TGT_TBL",
											"type": "Expression"
										},
										"SynapseSchema": {
											"value": "@pipeline().parameters.P_Object.TGT_SCHEMA_NM",
											"type": "Expression"
										}
									}
								}
							},
							"staging": {
								"linkedService": {
									"referenceName": "adls",
									"type": "LinkedServiceReference"
								},
								"folderPath": "raw/staging"
							},
							"compute": {
								"coreCount": 16,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"P_Object": {
						"type": "object"
					},
					"P_DataDT": {
						"type": "string"
					}
				},
				"folder": {
					"name": "COMMON JOB"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/controltable')]",
				"[concat(variables('factoryId'), '/dataflows/DIRECT_DATA_FLOW_CSV_TO_SYNAPSE')]",
				"[concat(variables('factoryId'), '/linkedServices/adls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/20_PROCESS_TYPE2_TRANS')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderStoredProcedureName": "[[CNTL].[PROC_GET_FI]",
								"storedProcedureParameters": {
									"P_DATA_DT": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.P_DataDT",
											"type": "Expression"
										}
									},
									"P_FI_ID": {
										"type": "Int32",
										"value": {
											"value": "@pipeline().parameters.P_Object.FI_ID",
											"type": "Expression"
										}
									},
									"P_PCS_NM": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.P_Object.PCS_NM",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "controltable",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Transform Date and Time",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Lookup",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": {
								"value": "@concat('[dbo].[Transform_',pipeline().parameters.P_Object.TGT_TBL,']')",
								"type": "Expression"
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSynapseAnalytics",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"P_Object": {
						"type": "object"
					},
					"P_DataDT": {
						"type": "string"
					}
				},
				"folder": {
					"name": "COMMON JOB"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/controltable')]",
				"[concat(variables('factoryId'), '/linkedServices/AzureSynapseAnalytics')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/20_PROCESS_TYPE3_CDC_TEMP_TO_LOG')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderStoredProcedureName": "[[CNTL].[PROC_GET_FI]",
								"storedProcedureParameters": {
									"P_DATA_DT": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.P_DataDT",
											"type": "Expression"
										}
									},
									"P_FI_ID": {
										"type": "Int32",
										"value": {
											"value": "@pipeline().parameters.P_Object.FI_ID",
											"type": "Expression"
										}
									},
									"P_PCS_NM": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.P_Object.PCS_NM",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "controltable",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Script1",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "Lookup",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "AzureSynapseAnalytics",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": {
										"value": "@concat('INSERT INTO ',pipeline().parameters.P_Object.TGT_SCHEMA_NM,'.',pipeline().parameters.P_Object.TGT_TBL,'  (MANDT,BUKRS,BELNR,GJAHR,BUZEI,BUZID,AUGDT,AUGCP,AUGBL,BSCHL,KOART,UMSKZ,UMSKS,ZUMSK,SHKZG,GSBER,PARGB,MWSKZ,QSSKZ,DMBTR,WRBTR,KZBTR,PSWBT,PSWSL,TXBHW,TXBFW,MWSTS,WMWST,HWBAS,FWBAS,HWZUZ,FWZUZ,SHZUZ,STEKZ,MWART,TXGRP,KTOSL,QSSHB,KURSR,GBETR,BDIFF,BDIF2,VALUT,ZUONR,SGTXT,ZINKZ,VBUND,BEWAR,ALTKT,VORGN,FDLEV,FDGRP,FDWBT,FDTAG,FKONT,KOKRS,KOSTL,PROJN,AUFNR,VBELN,VBEL2,POSN2,ETEN2,ANLN1,ANLN2,ANBWA,BZDAT,PERNR,XUMSW,XHRES,XKRES,XOPVW,XCPDD,XSKST,XSAUF,XSPRO,XSERG,XFAKT,XUMAN,XANET,XSKRL,XINVE,XPANZ,XAUTO,XNCOP,XZAHL,SAKNR,HKONT,KUNNR,LIFNR,FILKD,XBILK,GVTYP,HZUON,ZFBDT,ZTERM,ZBD1T,ZBD2T,ZBD3T,ZBD1P,ZBD2P,SKFBT,SKNTO,WSKTO,ZLSCH,ZLSPR,ZBFIX,HBKID,BVTYP,NEBTR,MWSK1,DMBT1,WRBT1,MWSK2,DMBT2,WRBT2,MWSK3,DMBT3,WRBT3,REBZG,REBZJ,REBZZ,REBZT,ZOLLT,ZOLLD,LZBKZ,LANDL,DIEKZ,SAMNR,ABPER,VRSKZ,VRSDT,DISBN,DISBJ,DISBZ,WVERW,ANFBN,ANFBJ,ANFBU,ANFAE,BLNBT,BLNKZ,BLNPZ,MSCHL,MANSP,MADAT,MANST,MABER,ESRNR,ESRRE,ESRPZ,KLIBT,QSZNR,QBSHB,QSFBT,NAVHW,NAVFW,MATNR,WERKS,MENGE,MEINS,ERFMG,ERFME,BPMNG,BPRME,EBELN,EBELP,ZEKKN,ELIKZ,VPRSV,PEINH,BWKEY,BWTAR,BUSTW,REWRT,REWWR,BONFB,BUALT,PSALT,NPREI,TBTKZ,SPGRP,SPGRM,SPGRT,SPGRG,SPGRV,SPGRQ,STCEG,EGBLD,EGLLD,RSTGR,RYACQ,RPACQ,RDIFF,RDIF2,PRCTR,XHKOM,VNAME,RECID,EGRUP,VPTNR,VERTT,VERTN,VBEWA,DEPOT,TXJCD,IMKEY,DABRZ,POPTS,FIPOS,KSTRG,NPLNR,AUFPL,APLZL,PROJK,PAOBJNR,PASUBNR,SPGRS,SPGRC,BTYPE,ETYPE,XEGDR,LNRAN,HRKFT,DMBE2,DMBE3,DMB21,DMB22,DMB23,DMB31,DMB32,DMB33,MWST2,MWST3,NAVH2,NAVH3,SKNT2,SKNT3,BDIF3,RDIF3,HWMET,GLUPM,XRAGL,UZAWE,LOKKT,FISTL,GEBER,STBUK,TXBH2,TXBH3,PPRCT,XREF1,XREF2,KBLNR,KBLPOS,STTAX,FKBER,OBZEI,XNEGP,RFZEI,CCBTC,KKBER,EMPFB,XREF3,DTWS1,DTWS2,DTWS3,DTWS4,GRICD,GRIRG,GITYP,XPYPR,KIDNO,ABSBT,IDXSP,LINFV,KONTT,KONTL,UEBGDAT,TXDAT,AGZEI,PYCUR,PYAMT,BUPLA,SECCO,LSTAR,CESSION_KZ,PRZNR,PPDIFF,PPDIF2,PPDIF3,PENLC1,PENLC2,PENLC3,PENFC,PENDAYS,PENRC,GRANT_NBR,SCTAX,FKBER_LONG,GMVKZ,SRTYPE,INTRENO,MEASURE,AUGGJ,PPA_EX_IND,DOCLN,SEGMENT,PSEGMENT,PFKBER,HKTID,KSTAR,XLGCLR,TAXPS,PAYS_PROV,PAYS_TRAN,MNDID,XFRGE_BSEG,AWTYP,AWKEY,AWSYS,POSNR,BUZEI_SENDER,H_MONAT,H_BSTAT,H_BUDAT,H_BLDAT,H_WAERS,H_BLART,H_HWAER,H_HWAE2,H_HWAE3,NETDT,SK1DT,SK2DT,_DATAAGING,FQFTYPE,LQITEM,GKONT,GKART,GHKON,SQUAN,ANLN2_PN,BWASL_PN,BZDAT_PN,XVABG_PN,ANBTR_PN,PROZS_PN,ZZHRKFT,ZZHRKTX,DUMMY_INCL_EEW_COBL,RE_BUKRS,RE_ACCOUNT,PGEBER,PGRANT_NBR,BUDGET_PD,PBUDGET_PD,J_1TPBUPL,PEROP_BEG,PEROP_END,FASTPAY,IGNR_IVREF,FMFGUS_KEY,FMXDOCNR,FMXYEAR,FMXDOCLN,FMXZEKKN,PRODPER,GST_PART,PLC_SUP,HSN_SAC,RECRF,INWARD_NO,INWARD_DT,GROUND_NO,GROUND_DT,GROUND_TYP,PYMTKEY,START_DATE,ACTIVE_FLAG,DELETE_FLAG)\nSELECT MANDT,BUKRS,BELNR,GJAHR,BUZEI,BUZID,AUGDT,AUGCP,AUGBL,BSCHL,KOART,UMSKZ,UMSKS,ZUMSK,SHKZG,GSBER,PARGB,MWSKZ,QSSKZ,DMBTR,WRBTR,KZBTR,PSWBT,PSWSL,TXBHW,TXBFW,MWSTS,WMWST,HWBAS,FWBAS,HWZUZ,FWZUZ,SHZUZ,STEKZ,MWART,TXGRP,KTOSL,QSSHB,KURSR,GBETR,BDIFF,BDIF2,VALUT,ZUONR,SGTXT,ZINKZ,VBUND,BEWAR,ALTKT,VORGN,FDLEV,FDGRP,FDWBT,FDTAG,FKONT,KOKRS,KOSTL,PROJN,AUFNR,VBELN,VBEL2,POSN2,ETEN2,ANLN1,ANLN2,ANBWA,BZDAT,PERNR,XUMSW,XHRES,XKRES,XOPVW,XCPDD,XSKST,XSAUF,XSPRO,XSERG,XFAKT,XUMAN,XANET,XSKRL,XINVE,XPANZ,XAUTO,XNCOP,XZAHL,SAKNR,HKONT,KUNNR,LIFNR,FILKD,XBILK,GVTYP,HZUON,ZFBDT,ZTERM,ZBD1T,ZBD2T,ZBD3T,ZBD1P,ZBD2P,SKFBT,SKNTO,WSKTO,ZLSCH,ZLSPR,ZBFIX,HBKID,BVTYP,NEBTR,MWSK1,DMBT1,WRBT1,MWSK2,DMBT2,WRBT2,MWSK3,DMBT3,WRBT3,REBZG,REBZJ,REBZZ,REBZT,ZOLLT,ZOLLD,LZBKZ,LANDL,DIEKZ,SAMNR,ABPER,VRSKZ,VRSDT,DISBN,DISBJ,DISBZ,WVERW,ANFBN,ANFBJ,ANFBU,ANFAE,BLNBT,BLNKZ,BLNPZ,MSCHL,MANSP,MADAT,MANST,MABER,ESRNR,ESRRE,ESRPZ,KLIBT,QSZNR,QBSHB,QSFBT,NAVHW,NAVFW,MATNR,WERKS,MENGE,MEINS,ERFMG,ERFME,BPMNG,BPRME,EBELN,EBELP,ZEKKN,ELIKZ,VPRSV,PEINH,BWKEY,BWTAR,BUSTW,REWRT,REWWR,BONFB,BUALT,PSALT,NPREI,TBTKZ,SPGRP,SPGRM,SPGRT,SPGRG,SPGRV,SPGRQ,STCEG,EGBLD,EGLLD,RSTGR,RYACQ,RPACQ,RDIFF,RDIF2,PRCTR,XHKOM,VNAME,RECID,EGRUP,VPTNR,VERTT,VERTN,VBEWA,DEPOT,TXJCD,IMKEY,DABRZ,POPTS,FIPOS,KSTRG,NPLNR,AUFPL,APLZL,PROJK,PAOBJNR,PASUBNR,SPGRS,SPGRC,BTYPE,ETYPE,XEGDR,LNRAN,HRKFT,DMBE2,DMBE3,DMB21,DMB22,DMB23,DMB31,DMB32,DMB33,MWST2,MWST3,NAVH2,NAVH3,SKNT2,SKNT3,BDIF3,RDIF3,HWMET,GLUPM,XRAGL,UZAWE,LOKKT,FISTL,GEBER,STBUK,TXBH2,TXBH3,PPRCT,XREF1,XREF2,KBLNR,KBLPOS,STTAX,FKBER,OBZEI,XNEGP,RFZEI,CCBTC,KKBER,EMPFB,XREF3,DTWS1,DTWS2,DTWS3,DTWS4,GRICD,GRIRG,GITYP,XPYPR,KIDNO,ABSBT,IDXSP,LINFV,KONTT,KONTL,UEBGDAT,TXDAT,AGZEI,PYCUR,PYAMT,BUPLA,SECCO,LSTAR,CESSION_KZ,PRZNR,PPDIFF,PPDIF2,PPDIF3,PENLC1,PENLC2,PENLC3,PENFC,PENDAYS,PENRC,GRANT_NBR,SCTAX,FKBER_LONG,GMVKZ,SRTYPE,INTRENO,MEASURE,AUGGJ,PPA_EX_IND,DOCLN,SEGMENT,PSEGMENT,PFKBER,HKTID,KSTAR,XLGCLR,TAXPS,PAYS_PROV,PAYS_TRAN,MNDID,XFRGE_BSEG,AWTYP,AWKEY,AWSYS,POSNR,BUZEI_SENDER,H_MONAT,H_BSTAT,H_BUDAT,H_BLDAT,H_WAERS,H_BLART,H_HWAER,H_HWAE2,H_HWAE3,NETDT,SK1DT,SK2DT,_DATAAGING,FQFTYPE,LQITEM,GKONT,GKART,GHKON,SQUAN,ANLN2_PN,BWASL_PN,BZDAT_PN,XVABG_PN,ANBTR_PN,PROZS_PN,ZZHRKFT,ZZHRKTX,DUMMY_INCL_EEW_COBL,RE_BUKRS,RE_ACCOUNT,PGEBER,PGRANT_NBR,BUDGET_PD,PBUDGET_PD,J_1TPBUPL,PEROP_BEG,PEROP_END,FASTPAY,IGNR_IVREF,FMFGUS_KEY,FMXDOCNR,FMXYEAR,FMXDOCLN,FMXZEKKN,PRODPER,GST_PART,PLC_SUP,HSN_SAC,RECRF,INWARD_NO,INWARD_DT,GROUND_NO,GROUND_DT,GROUND_TYP,PYMTKEY,GETDATE(),\"Y\",\"N\"\nFROM ',pipeline().parameters.P_Object.SRC_SCHEMA_NM,'.',pipeline().parameters.P_Object.SRC_TBL,' WHERE BELNR = \"6000250535\"\n;')",
										"type": "Expression"
									}
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"P_Object": {
						"type": "object"
					},
					"P_DataDT": {
						"type": "string"
					}
				},
				"folder": {
					"name": "COMMON JOB"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/controltable')]",
				"[concat(variables('factoryId'), '/linkedServices/AzureSynapseAnalytics')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/20_PROCESS_TYPE4_CDC_STREAM')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CDC Snapshot",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "CDC_SNAP_CHANGE",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"CDC": {
										"FOLDER_NM": {
											"value": "@concat(pipeline().parameters.P_Object.TGT_TBL, '_DELTA_CHANGES')",
											"type": "Expression"
										}
									},
									"TMPCDC": {
										"SynapseTableName": {
											"value": "@concat('TMP_CDC_',pipeline().parameters.P_Object.TGT_TBL)",
											"type": "Expression"
										},
										"SynapseSchema": {
											"value": "@pipeline().parameters.P_Object.TGT_SCHEMA_NM",
											"type": "Expression"
										}
									},
									"CDCLOG": {
										"SynapseTableName": {
											"value": "@concat('LOG_CDC_',pipeline().parameters.P_Object.TGT_TBL)",
											"type": "Expression"
										},
										"SynapseSchema": {
											"value": "@pipeline().parameters.P_Object.TGT_SCHEMA_NM",
											"type": "Expression"
										}
									}
								}
							},
							"staging": {
								"linkedService": {
									"referenceName": "adls",
									"type": "LinkedServiceReference"
								},
								"folderPath": "synapse-povtug/TMP_STAGING"
							},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine",
							"continuationSettings": {
								"customizedCheckpointKey": "55de936d-2a87-4248-8cdf-6fd70b2812c4"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"P_Object": {
						"type": "object"
					},
					"P_DataDT": {
						"type": "string"
					}
				},
				"folder": {
					"name": "COMMON JOB"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/CDC_SNAP_CHANGE')]",
				"[concat(variables('factoryId'), '/linkedServices/adls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CSV_DATASET_DYNAMIC_tab_delimiter')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "adls",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"Filename": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": {
							"value": "@dataset().Filename",
							"type": "Expression"
						},
						"fileSystem": "synapse-povtug"
					},
					"columnDelimiter": "\t",
					"escapeChar": "~",
					"firstRowAsHeader": true,
					"quoteChar": ""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/adls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CSV_TEST')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "adls",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"Filename": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@concat(dataset().Filename,'.csv')",
							"type": "Expression"
						},
						"fileSystem": "synapse-povtug"
					},
					"columnDelimiter": "\t",
					"escapeChar": "",
					"firstRowAsHeader": true,
					"quoteChar": ""
				},
				"schema": [
					{
						"name": "VBELN\tPOSNR\tETENR\tETTYP\tLFREL\tEDATU\tEZEIT\tWMENG\tBMENG\tVRKME\tLMENG\tMEINS\tBDDAT\tBDART\tPLART\tVBELE\tPOSNE\tETENE\tRSDAT\tIDNNR\tBANFN\tBSART\tBSTYP\tWEPOS\tREPOS\tLRGDT\tPRGRS\tTDDAT\tMBDAT\tLDDAT\tWADAT\tCMENG\tLIFSP\tGRSTR\tABART\tABRUF\tROMS1\tROMS2\tROMS3\tROMEI\tRFORM\tUMVKZ\tUMVKN\tVERFP\tBWART\tBNFPO\tETART\tAUFNR\tPLNUM\tSERNR\tAESKD\tABGES\tMBUHR\tTDUHR\tLDUHR\tWAUHR\tAULWE\tHANDOVERDATE\tHANDOVERTIME\tDLVQTY_BU\tDLVQTY_SU\tOCDQTY_BU\tOCDQTY_SU\tORDQTY_BU\tORDQTY_SU\tCREA_DLVDATE\tREQ_DLVDATE\tBEDAR\t_DATAAGING\tWAERK\tODN_AMOUNT\tDUMMY_SLSDOCSCHEDL_INCL_EEW_PS\tFSH_RALLOC_QTY\tFSH_OS_ID\tFSH_PQR_RC\tMBDAT_DRS",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/adls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DIRECT_SYNAPSE_DATASET_DYNAMIC')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSynapseAnalytics",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"SynapseTableName": {
						"type": "string"
					},
					"SynapseSchema": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().SynapseSchema",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().SynapseTableName",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSynapseAnalytics')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_PARQUET_SOURCE')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "adls",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"FOLDER_NM": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": {
							"value": "@dataset().FOLDER_NM",
							"type": "Expression"
						},
						"fileSystem": "synapse-povtug"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/adls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PARQUET_DATASET_DYNAMIC')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "adls",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"FileName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": {
							"value": "@dataset().FileName",
							"type": "Expression"
						},
						"fileSystem": "synapse-povtug"
					},
					"compressionCodec": "none"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/adls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/controltable')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SqlServer1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SqlServer1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSynapseAnalytics')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDW",
				"typeProperties": {
					"connectionString": "[parameters('AzureSynapseAnalytics_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServer1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('SqlServer1_connectionString')]"
				},
				"connectVia": {
					"referenceName": "integrationRuntime-ADFPOVTUGDEV",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/integrationRuntime-ADFPOVTUGDEV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/adls')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('adls_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('adls_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CDC_File_Trigger')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "02_CDC_SNAPSHOT_SCD",
							"type": "PipelineReference"
						},
						"parameters": {
							"FOLDER_NM": "[parameters('CDC_File_Trigger_properties_02_CDC_SNAPSHOT_SCD_parameters_FOLDER_NM')]",
							"DB_NM": "[parameters('CDC_File_Trigger_properties_02_CDC_SNAPSHOT_SCD_parameters_DB_NM')]",
							"TGT_TBL_NM": "[parameters('CDC_File_Trigger_properties_02_CDC_SNAPSHOT_SCD_parameters_TGT_TBL_NM')]"
						}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/synapse-povtug/blobs/BSEG_DELTA_CHANGES/",
					"ignoreEmptyBlobs": true,
					"scope": "[parameters('CDC_File_Trigger_properties_typeProperties_scope')]",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/02_CDC_SNAPSHOT_SCD')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/integrationRuntime-ADFPOVTUGDEV')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {
					"linkedInfo": {
						"resourceId": "[parameters('integrationRuntime-ADFPOVTUGDEV_properties_typeProperties_linkedInfo_resourceId')]",
						"authorizationType": "Rbac"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CDC_SNAP_CHANGE')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "DS_PARQUET_SOURCE",
								"type": "DatasetReference"
							},
							"name": "CDC"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "DIRECT_SYNAPSE_DATASET_DYNAMIC",
								"type": "DatasetReference"
							},
							"name": "TMPCDC"
						},
						{
							"dataset": {
								"referenceName": "DIRECT_SYNAPSE_DATASET_DYNAMIC",
								"type": "DatasetReference"
							},
							"name": "CDCLOG"
						}
					],
					"transformations": [],
					"scriptLines": [
						"source(output(",
						"          AERUNID as integer,",
						"          AERECNO as integer,",
						"          AEDATTM as string,",
						"          MANDT as string,",
						"          BUKRS as string,",
						"          BELNR as string,",
						"          GJAHR as string,",
						"          BUZEI as string,",
						"          BUZID as string,",
						"          AUGDT as string,",
						"          AUGCP as string,",
						"          AUGBL as string,",
						"          BSCHL as string,",
						"          KOART as string,",
						"          UMSKZ as string,",
						"          UMSKS as string,",
						"          ZUMSK as string,",
						"          SHKZG as string,",
						"          GSBER as string,",
						"          PARGB as string,",
						"          MWSKZ as string,",
						"          QSSKZ as string,",
						"          DMBTR as decimal(29,2),",
						"          WRBTR as decimal(29,2),",
						"          KZBTR as decimal(29,2),",
						"          PSWBT as decimal(29,2),",
						"          PSWSL as string,",
						"          TXBHW as decimal(29,2),",
						"          TXBFW as decimal(29,2),",
						"          MWSTS as decimal(29,2),",
						"          WMWST as decimal(29,2),",
						"          HWBAS as decimal(29,2),",
						"          FWBAS as decimal(29,2),",
						"          HWZUZ as decimal(29,2),",
						"          FWZUZ as decimal(29,2),",
						"          SHZUZ as string,",
						"          STEKZ as string,",
						"          MWART as string,",
						"          TXGRP as string,",
						"          KTOSL as string,",
						"          QSSHB as decimal(29,2),",
						"          KURSR as decimal(29,5),",
						"          GBETR as decimal(29,2),",
						"          BDIFF as decimal(29,2),",
						"          BDIF2 as decimal(29,2),",
						"          VALUT as string,",
						"          ZUONR as string,",
						"          SGTXT as string,",
						"          ZINKZ as string,",
						"          VBUND as string,",
						"          BEWAR as string,",
						"          ALTKT as string,",
						"          VORGN as string,",
						"          FDLEV as string,",
						"          FDGRP as string,",
						"          FDWBT as decimal(29,2),",
						"          FDTAG as string,",
						"          FKONT as string,",
						"          KOKRS as string,",
						"          KOSTL as string,",
						"          PROJN as string,",
						"          AUFNR as string,",
						"          VBELN as string,",
						"          VBEL2 as string,",
						"          POSN2 as string,",
						"          ETEN2 as string,",
						"          ANLN1 as string,",
						"          ANLN2 as string,",
						"          ANBWA as string,",
						"          BZDAT as string,",
						"          PERNR as string,",
						"          XUMSW as string,",
						"          XHRES as string,",
						"          XKRES as string,",
						"          XOPVW as string,",
						"          XCPDD as string,",
						"          XSKST as string,",
						"          XSAUF as string,",
						"          XSPRO as string,",
						"          XSERG as string,",
						"          XFAKT as string,",
						"          XUMAN as string,",
						"          XANET as string,",
						"          XSKRL as string,",
						"          XINVE as string,",
						"          XPANZ as string,",
						"          XAUTO as string,",
						"          XNCOP as string,",
						"          XZAHL as string,",
						"          SAKNR as string,",
						"          HKONT as string,",
						"          KUNNR as string,",
						"          LIFNR as string,",
						"          FILKD as string,",
						"          XBILK as string,",
						"          GVTYP as string,",
						"          HZUON as string,",
						"          ZFBDT as string,",
						"          ZTERM as string,",
						"          ZBD1T as decimal(29,0),",
						"          ZBD2T as decimal(29,0),",
						"          ZBD3T as decimal(29,0),",
						"          ZBD1P as decimal(29,3),",
						"          ZBD2P as decimal(29,3),",
						"          SKFBT as decimal(29,2),",
						"          SKNTO as decimal(29,2),",
						"          WSKTO as decimal(29,2),",
						"          ZLSCH as string,",
						"          ZLSPR as string,",
						"          ZBFIX as string,",
						"          HBKID as string,",
						"          BVTYP as string,",
						"          NEBTR as decimal(29,2),",
						"          MWSK1 as string,",
						"          DMBT1 as decimal(29,2),",
						"          WRBT1 as decimal(29,2),",
						"          MWSK2 as string,",
						"          DMBT2 as decimal(29,2),",
						"          WRBT2 as decimal(29,2),",
						"          MWSK3 as string,",
						"          DMBT3 as decimal(29,2),",
						"          WRBT3 as decimal(29,2),",
						"          REBZG as string,",
						"          REBZJ as string,",
						"          REBZZ as string,",
						"          REBZT as string,",
						"          ZOLLT as string,",
						"          ZOLLD as string,",
						"          LZBKZ as string,",
						"          LANDL as string,",
						"          DIEKZ as string,",
						"          SAMNR as string,",
						"          ABPER as string,",
						"          VRSKZ as string,",
						"          VRSDT as string,",
						"          DISBN as string,",
						"          DISBJ as string,",
						"          DISBZ as string,",
						"          WVERW as string,",
						"          ANFBN as string,",
						"          ANFBJ as string,",
						"          ANFBU as string,",
						"          ANFAE as string,",
						"          BLNBT as decimal(29,2),",
						"          BLNKZ as string,",
						"          BLNPZ as decimal(29,2),",
						"          MSCHL as string,",
						"          MANSP as string,",
						"          MADAT as string,",
						"          MANST as string,",
						"          MABER as string,",
						"          ESRNR as string,",
						"          ESRRE as string,",
						"          ESRPZ as string,",
						"          KLIBT as decimal(29,2),",
						"          QSZNR as string,",
						"          QBSHB as decimal(29,2),",
						"          QSFBT as decimal(29,2),",
						"          NAVHW as decimal(29,2),",
						"          NAVFW as decimal(29,2),",
						"          MATNR as string,",
						"          WERKS as string,",
						"          MENGE as decimal(29,3),",
						"          MEINS as string,",
						"          ERFMG as decimal(29,3),",
						"          ERFME as string,",
						"          BPMNG as decimal(29,3),",
						"          BPRME as string,",
						"          EBELN as string,",
						"          EBELP as string,",
						"          ZEKKN as string,",
						"          ELIKZ as string,",
						"          VPRSV as string,",
						"          PEINH as decimal(29,0),",
						"          BWKEY as string,",
						"          BWTAR as string,",
						"          BUSTW as string,",
						"          REWRT as decimal(29,2),",
						"          REWWR as decimal(29,2),",
						"          BONFB as decimal(29,2),",
						"          BUALT as decimal(29,2),",
						"          PSALT as string,",
						"          NPREI as decimal(29,2),",
						"          TBTKZ as string,",
						"          SPGRP as string,",
						"          SPGRM as string,",
						"          SPGRT as string,",
						"          SPGRG as string,",
						"          SPGRV as string,",
						"          SPGRQ as string,",
						"          STCEG as string,",
						"          EGBLD as string,",
						"          EGLLD as string,",
						"          RSTGR as string,",
						"          RYACQ as string,",
						"          RPACQ as string,",
						"          RDIFF as decimal(29,2),",
						"          RDIF2 as decimal(29,2),",
						"          PRCTR as string,",
						"          XHKOM as string,",
						"          VNAME as string,",
						"          RECID as string,",
						"          EGRUP as string,",
						"          VPTNR as string,",
						"          VERTT as string,",
						"          VERTN as string,",
						"          VBEWA as string,",
						"          DEPOT as string,",
						"          TXJCD as string,",
						"          IMKEY as string,",
						"          DABRZ as string,",
						"          POPTS as decimal(29,6),",
						"          FIPOS as string,",
						"          KSTRG as string,",
						"          NPLNR as string,",
						"          AUFPL as string,",
						"          APLZL as string,",
						"          PROJK as string,",
						"          PAOBJNR as string,",
						"          PASUBNR as string,",
						"          SPGRS as string,",
						"          SPGRC as string,",
						"          BTYPE as string,",
						"          ETYPE as string,",
						"          XEGDR as string,",
						"          LNRAN as string,",
						"          HRKFT as string,",
						"          DMBE2 as decimal(29,2),",
						"          DMBE3 as decimal(29,2),",
						"          DMB21 as decimal(29,2),",
						"          DMB22 as decimal(29,2),",
						"          DMB23 as decimal(29,2),",
						"          DMB31 as decimal(29,2),",
						"          DMB32 as decimal(29,2),",
						"          DMB33 as decimal(29,2),",
						"          MWST2 as decimal(29,2),",
						"          MWST3 as decimal(29,2),",
						"          NAVH2 as decimal(29,2),",
						"          NAVH3 as decimal(29,2),",
						"          SKNT2 as decimal(29,2),",
						"          SKNT3 as decimal(29,2),",
						"          BDIF3 as decimal(29,2),",
						"          RDIF3 as decimal(29,2),",
						"          HWMET as string,",
						"          GLUPM as string,",
						"          XRAGL as string,",
						"          UZAWE as string,",
						"          LOKKT as string,",
						"          FISTL as string,",
						"          GEBER as string,",
						"          STBUK as string,",
						"          TXBH2 as decimal(29,2),",
						"          TXBH3 as decimal(29,2),",
						"          PPRCT as string,",
						"          XREF1 as string,",
						"          XREF2 as string,",
						"          KBLNR as string,",
						"          KBLPOS as string,",
						"          STTAX as decimal(29,2),",
						"          FKBER as string,",
						"          OBZEI as string,",
						"          XNEGP as string,",
						"          RFZEI as string,",
						"          CCBTC as string,",
						"          KKBER as string,",
						"          EMPFB as string,",
						"          XREF3 as string,",
						"          DTWS1 as string,",
						"          DTWS2 as string,",
						"          DTWS3 as string,",
						"          DTWS4 as string,",
						"          GRICD as string,",
						"          GRIRG as string,",
						"          GITYP as string,",
						"          XPYPR as string,",
						"          KIDNO as string,",
						"          ABSBT as decimal(29,2),",
						"          IDXSP as string,",
						"          LINFV as string,",
						"          KONTT as string,",
						"          KONTL as string,",
						"          UEBGDAT as string,",
						"          TXDAT as string,",
						"          AGZEI as decimal(29,0),",
						"          PYCUR as string,",
						"          PYAMT as decimal(29,2),",
						"          BUPLA as string,",
						"          SECCO as string,",
						"          LSTAR as string,",
						"          CESSION_KZ as string,",
						"          PRZNR as string,",
						"          PPDIFF as decimal(29,2),",
						"          PPDIF2 as decimal(29,2),",
						"          PPDIF3 as decimal(29,2),",
						"          PENLC1 as decimal(29,2),",
						"          PENLC2 as decimal(29,2),",
						"          PENLC3 as decimal(29,2),",
						"          PENFC as decimal(29,2),",
						"          PENDAYS as integer,",
						"          PENRC as string,",
						"          GRANT_NBR as string,",
						"          SCTAX as decimal(29,2),",
						"          FKBER_LONG as string,",
						"          GMVKZ as string,",
						"          SRTYPE as string,",
						"          INTRENO as string,",
						"          MEASURE as string,",
						"          AUGGJ as string,",
						"          PPA_EX_IND as string,",
						"          DOCLN as string,",
						"          SEGMENT as string,",
						"          PSEGMENT as string,",
						"          PFKBER as string,",
						"          HKTID as string,",
						"          KSTAR as string,",
						"          XLGCLR as string,",
						"          TAXPS as string,",
						"          PAYS_PROV as string,",
						"          PAYS_TRAN as string,",
						"          MNDID as string,",
						"          XFRGE_BSEG as string,",
						"          AWTYP as string,",
						"          AWKEY as string,",
						"          AWSYS as string,",
						"          POSNR as string,",
						"          BUZEI_SENDER as string,",
						"          H_MONAT as string,",
						"          H_BSTAT as string,",
						"          H_BUDAT as string,",
						"          H_BLDAT as string,",
						"          H_WAERS as string,",
						"          H_BLART as string,",
						"          H_HWAER as string,",
						"          H_HWAE2 as string,",
						"          H_HWAE3 as string,",
						"          NETDT as string,",
						"          SK1DT as string,",
						"          SK2DT as string,",
						"          {_DATAAGING} as string,",
						"          FQFTYPE as string,",
						"          LQITEM as string,",
						"          GKONT as string,",
						"          GKART as string,",
						"          GHKON as string,",
						"          SQUAN as string,",
						"          ANLN2_PN as string,",
						"          BWASL_PN as string,",
						"          BZDAT_PN as string,",
						"          XVABG_PN as string,",
						"          ANBTR_PN as decimal(29,2),",
						"          PROZS_PN as decimal(29,2),",
						"          ZZHRKFT as string,",
						"          ZZHRKTX as string,",
						"          DUMMY_INCL_EEW_COBL as string,",
						"          RE_BUKRS as string,",
						"          RE_ACCOUNT as string,",
						"          PGEBER as string,",
						"          PGRANT_NBR as string,",
						"          BUDGET_PD as string,",
						"          PBUDGET_PD as string,",
						"          J_1TPBUPL as string,",
						"          PEROP_BEG as string,",
						"          PEROP_END as string,",
						"          FASTPAY as string,",
						"          IGNR_IVREF as string,",
						"          FMFGUS_KEY as string,",
						"          FMXDOCNR as string,",
						"          FMXYEAR as string,",
						"          FMXDOCLN as string,",
						"          FMXZEKKN as string,",
						"          PRODPER as string,",
						"          GST_PART as string,",
						"          PLC_SUP as string,",
						"          HSN_SAC as string,",
						"          RECRF as string,",
						"          INWARD_NO as string,",
						"          INWARD_DT as string,",
						"          GROUND_NO as string,",
						"          GROUND_DT as string,",
						"          GROUND_TYP as string,",
						"          PYMTKEY as string,",
						"          OPFLAG as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     enableCdc: true,",
						"     mode: 'read',",
						"     skipInitialLoad: false,",
						"     format: 'parquet') ~> CDC",
						"CDC sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     recreate:true,",
						"     format: 'table',",
						"     staged: true,",
						"     allowCopyCommand: true,",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> TMPCDC",
						"CDC sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     staged: true,",
						"     allowCopyCommand: true,",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> CDCLOG"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_PARQUET_SOURCE')]",
				"[concat(variables('factoryId'), '/datasets/DIRECT_SYNAPSE_DATASET_DYNAMIC')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DIRECT_DATA_FLOW_CSV_TO_SYNAPSE')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "PARQUET_DATASET_DYNAMIC",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "DIRECT_SYNAPSE_DATASET_DYNAMIC",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [],
					"scriptLines": [
						"source(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     format: 'parquet') ~> source1",
						"source1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     staged: true,",
						"     allowCopyCommand: true,",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/PARQUET_DATASET_DYNAMIC')]",
				"[concat(variables('factoryId'), '/datasets/DIRECT_SYNAPSE_DATASET_DYNAMIC')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/BSEG')]",
			"type": "Microsoft.DataFactory/factories/adfcdcs",
			"apiVersion": "2018-06-01",
			"properties": {
				"SourceConnectionsInfo": [
					{
						"SourceEntities": [
							{
								"name": "synapse-povtug/BSEG_DELTA_CHANGES",
								"properties": {
									"schema": [],
									"dslConnectorProperties": [
										{
											"name": "container",
											"value": "synapse-povtug"
										},
										{
											"name": "fileSystem",
											"value": "synapse-povtug"
										},
										{
											"name": "folderPath",
											"value": "BSEG_DELTA_CHANGES"
										}
									]
								}
							}
						],
						"Connection": {
							"linkedService": {
								"referenceName": "adls",
								"type": "LinkedServiceReference"
							},
							"linkedServiceType": "AzureBlobFS",
							"type": "linkedservicetype",
							"isInlineDataset": true,
							"commonDslConnectorProperties": [
								{
									"name": "allowSchemaDrift",
									"value": true
								},
								{
									"name": "inferDriftedColumnTypes",
									"value": true
								},
								{
									"name": "format",
									"value": "parquet"
								},
								{
									"name": "dateFormats",
									"value": [
										"MM/dd/yyyy",
										"dd/MM/yyyy",
										"yyyy/MM/dd",
										"MM-dd-yyyy",
										"dd-MM-yyyy",
										"yyyy-MM-dd",
										"dd.MM.yyyy",
										"MM.dd.yyyy",
										"yyyy.MM.dd"
									]
								},
								{
									"name": "timestampFormats",
									"value": [
										"yyyyMMddHHmm",
										"yyyyMMdd HHmm",
										"yyyyMMddHHmmss",
										"yyyyMMdd HHmmss",
										"dd-MM-yyyy HH:mm:ss",
										"dd-MM-yyyy HH:mm",
										"yyyy-M-d H:m:s",
										"yyyy-MM-dd\\'T\\'HH:mm:ss\\'Z\\'",
										"yyyy-M-d\\'T\\'H:m:s\\'Z\\'",
										"yyyy-M-d\\'T\\'H:m:s",
										"yyyy-MM-dd\\'T\\'HH:mm:ss",
										"yyyy-MM-dd HH:mm:ss",
										"yyyy-MM-dd HH:mm",
										"yyyy.MM.dd HH:mm:ss",
										"MM/dd/yyyy HH:mm:ss",
										"M/d/yyyy H:m:s",
										"yyyy/MM/dd HH:mm:ss",
										"yyyy/M/d H:m:s",
										"dd MMM yyyy HH:mm:ss",
										"dd MMMM yyyy HH:mm:ss",
										"d MMM yyyy H:m:s",
										"d MMMM yyyy H:m:s",
										"d-M-yyyy H:m:s",
										"d-M-yyyy H:m",
										"yyyy-M-d H:m",
										"MM/dd/yyyy HH:mm",
										"M/d/yyyy H:m",
										"yyyy/MM/dd HH:mm",
										"yyyy/M/d H:m",
										"dd MMMM yyyy HH:mm",
										"dd MMM yyyy HH:mm",
										"d MMMM yyyy H:m",
										"d MMM yyyy H:m",
										"MM-dd-yyyy hh:mm:ss a",
										"MM-dd-yyyy HH:mm:ss",
										"MM/dd/yyyy hh:mm:ss a",
										"yyyy.MM.dd hh:mm:ss a",
										"MM/dd/yyyy",
										"dd/MM/yyyy",
										"yyyy/MM/dd",
										"MM-dd-yyyy",
										"dd-MM-yyyy",
										"yyyy-MM-dd",
										"dd.MM.yyyy",
										"MM.dd.yyyy",
										"yyyy.MM.dd"
									]
								},
								{
									"name": "enableCdc",
									"value": true
								},
								{
									"name": "skipInitialLoad",
									"value": true
								}
							]
						}
					}
				],
				"TargetConnectionsInfo": [
					{
						"TargetEntities": [
							{
								"name": "dbo.TMP_BSEG_CDC_IN",
								"properties": {
									"schema": [],
									"dslConnectorProperties": [
										{
											"name": "schemaName",
											"value": "dbo"
										},
										{
											"name": "tableName",
											"value": "TMP_BSEG_CDC_IN"
										},
										{
											"name": "deletable",
											"value": true
										},
										{
											"name": "updateable",
											"value": true
										},
										{
											"name": "upsertable",
											"value": true
										},
										{
											"name": "defaultToUpsert",
											"value": true
										},
										{
											"name": "keys",
											"value": [
												"AERECNO",
												"AERUNID"
											]
										}
									]
								}
							}
						],
						"Connection": {
							"linkedService": {
								"referenceName": "AzureSynapseAnalytics",
								"type": "LinkedServiceReference"
							},
							"linkedServiceType": "AzureSqlDW",
							"type": "linkedservicetype",
							"isInlineDataset": true,
							"commonDslConnectorProperties": [
								{
									"name": "allowSchemaDrift",
									"value": true
								},
								{
									"name": "inferDriftedColumnTypes",
									"value": true
								},
								{
									"name": "format",
									"value": "table"
								},
								{
									"name": "store",
									"value": "synapseanalytics"
								},
								{
									"name": "databaseType",
									"value": "databaseType"
								},
								{
									"name": "database",
									"value": "database"
								},
								{
									"name": "deletable",
									"value": false
								},
								{
									"name": "insertable",
									"value": true
								},
								{
									"name": "updateable",
									"value": false
								},
								{
									"name": "upsertable",
									"value": false
								},
								{
									"name": "allowCopyCommand",
									"value": false
								},
								{
									"name": "staged",
									"value": true
								},
								{
									"name": "skipDuplicateMapInputs",
									"value": true
								},
								{
									"name": "skipDuplicateMapOutputs",
									"value": true
								}
							]
						},
						"DataMapperMappings": [
							{
								"targetEntityName": "dbo.TMP_BSEG_CDC_IN",
								"sourceEntityName": "synapse-povtug/BSEG_DELTA_CHANGES",
								"sourceConnectionReference": {
									"connectionName": "adls",
									"type": "linkedservicetype"
								},
								"attributeMappingInfo": {
									"attributeMappings": []
								}
							}
						],
						"Relationships": []
					}
				],
				"Policy": {
					"recurrence": {
						"frequency": "Minute",
						"interval": 1
					},
					"mode": "Microbatch"
				},
				"status": "Stopped",
				"allowVNetOverride": false,
				"typeProperties": {
					"staging": {
						"linkedService": {
							"referenceName": "adls",
							"type": "LinkedServiceReference"
						},
						"folderPath": "synapse-povtug/TMP_STAGING"
					},
					"linkedServiceType": "AzureBlobFS"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/adls')]",
				"[concat(variables('factoryId'), '/linkedServices/AzureSynapseAnalytics')]"
			]
		}
	]
}