ADFPOVTUGDEV/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "ADFPOVTUGDEV"
		},
		"AzureSynapseAnalytics_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureSynapseAnalytics'"
		},
		"adls_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'adls'"
		},
		"SqlServer1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'SqlServer1'"
		},
		"adls_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://stpovtug.dfs.core.windows.net/"
		},
		"integrationRuntime-ADFPOVTUGDEV_properties_typeProperties_linkedInfo_resourceId": {
			"type": "string",
			"defaultValue": "/subscriptions/179dc394-2676-4356-b9ef-c93874f2f4a7/resourcegroups/POV_TUG/providers/Microsoft.DataFactory/factories/ADF-POV-TUG/integrationruntimes/integrationRuntime-POV-TUG"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/AzureSynapseAnalytics')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDW",
				"typeProperties": {
					"connectionString": "[parameters('AzureSynapseAnalytics_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/adls')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('adls_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('adls_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/integrationRuntime-ADFPOVTUGDEV')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {
					"linkedInfo": {
						"resourceId": "[parameters('integrationRuntime-ADFPOVTUGDEV_properties_typeProperties_linkedInfo_resourceId')]",
						"authorizationType": "Rbac"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/00_TESTSCRIPT')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "SCD2_SCD2TEST",
						"type": "Script",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "AzureSynapseAnalytics",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": "INSERT INTO dbo.BSEG_CDC_SCD2_TEST (MANDT,BUKRS,BELNR,GJAHR,BUZEI,BUZID,AUGDT,AUGCP,AUGBL,BSCHL,KOART,UMSKZ,UMSKS,ZUMSK,SHKZG,GSBER,PARGB,MWSKZ,QSSKZ,DMBTR,WRBTR,KZBTR,PSWBT,PSWSL,TXBHW,TXBFW,MWSTS,WMWST,HWBAS,FWBAS,HWZUZ,FWZUZ,SHZUZ,STEKZ,MWART,TXGRP,KTOSL,QSSHB,KURSR,GBETR,BDIFF,BDIF2,VALUT,ZUONR,SGTXT,ZINKZ,VBUND,BEWAR,ALTKT,VORGN,FDLEV,FDGRP,FDWBT,FDTAG,FKONT,KOKRS,KOSTL,PROJN,AUFNR,VBELN,VBEL2,POSN2,ETEN2,ANLN1,ANLN2,ANBWA,BZDAT,PERNR,XUMSW,XHRES,XKRES,XOPVW,XCPDD,XSKST,XSAUF,XSPRO,XSERG,XFAKT,XUMAN,XANET,XSKRL,XINVE,XPANZ,XAUTO,XNCOP,XZAHL,SAKNR,HKONT,KUNNR,LIFNR,FILKD,XBILK,GVTYP,HZUON,ZFBDT,ZTERM,ZBD1T,ZBD2T,ZBD3T,ZBD1P,ZBD2P,SKFBT,SKNTO,WSKTO,ZLSCH,ZLSPR,ZBFIX,HBKID,BVTYP,NEBTR,MWSK1,DMBT1,WRBT1,MWSK2,DMBT2,WRBT2,MWSK3,DMBT3,WRBT3,REBZG,REBZJ,REBZZ,REBZT,ZOLLT,ZOLLD,LZBKZ,LANDL,DIEKZ,SAMNR,ABPER,VRSKZ,VRSDT,DISBN,DISBJ,DISBZ,WVERW,ANFBN,ANFBJ,ANFBU,ANFAE,BLNBT,BLNKZ,BLNPZ,MSCHL,MANSP,MADAT,MANST,MABER,ESRNR,ESRRE,ESRPZ,KLIBT,QSZNR,QBSHB,QSFBT,NAVHW,NAVFW,MATNR,WERKS,MENGE,MEINS,ERFMG,ERFME,BPMNG,BPRME,EBELN,EBELP,ZEKKN,ELIKZ,VPRSV,PEINH,BWKEY,BWTAR,BUSTW,REWRT,REWWR,BONFB,BUALT,PSALT,NPREI,TBTKZ,SPGRP,SPGRM,SPGRT,SPGRG,SPGRV,SPGRQ,STCEG,EGBLD,EGLLD,RSTGR,RYACQ,RPACQ,RDIFF,RDIF2,PRCTR,XHKOM,VNAME,RECID,EGRUP,VPTNR,VERTT,VERTN,VBEWA,DEPOT,TXJCD,IMKEY,DABRZ,POPTS,FIPOS,KSTRG,NPLNR,AUFPL,APLZL,PROJK,PAOBJNR,PASUBNR,SPGRS,SPGRC,BTYPE,ETYPE,XEGDR,LNRAN,HRKFT,DMBE2,DMBE3,DMB21,DMB22,DMB23,DMB31,DMB32,DMB33,MWST2,MWST3,NAVH2,NAVH3,SKNT2,SKNT3,BDIF3,RDIF3,HWMET,GLUPM,XRAGL,UZAWE,LOKKT,FISTL,GEBER,STBUK,TXBH2,TXBH3,PPRCT,XREF1,XREF2,KBLNR,KBLPOS,STTAX,FKBER,OBZEI,XNEGP,RFZEI,CCBTC,KKBER,EMPFB,XREF3,DTWS1,DTWS2,DTWS3,DTWS4,GRICD,GRIRG,GITYP,XPYPR,KIDNO,ABSBT,IDXSP,LINFV,KONTT,KONTL,UEBGDAT,TXDAT,AGZEI,PYCUR,PYAMT,BUPLA,SECCO,LSTAR,CESSION_KZ,PRZNR,PPDIFF,PPDIF2,PPDIF3,PENLC1,PENLC2,PENLC3,PENFC,PENDAYS,PENRC,GRANT_NBR,SCTAX,FKBER_LONG,GMVKZ,SRTYPE,INTRENO,MEASURE,AUGGJ,PPA_EX_IND,DOCLN,SEGMENT,PSEGMENT,PFKBER,HKTID,KSTAR,XLGCLR,TAXPS,PAYS_PROV,PAYS_TRAN,MNDID,XFRGE_BSEG,AWTYP,AWKEY,AWSYS,POSNR,BUZEI_SENDER,H_MONAT,H_BSTAT,H_BUDAT,H_BLDAT,H_WAERS,H_BLART,H_HWAER,H_HWAE2,H_HWAE3,NETDT,SK1DT,SK2DT,_DATAAGING,FQFTYPE,LQITEM,GKONT,GKART,GHKON,SQUAN,ANLN2_PN,BWASL_PN,BZDAT_PN,XVABG_PN,ANBTR_PN,PROZS_PN,ZZHRKFT,ZZHRKTX,DUMMY_INCL_EEW_COBL,RE_BUKRS,RE_ACCOUNT,PGEBER,PGRANT_NBR,BUDGET_PD,PBUDGET_PD,J_1TPBUPL,PEROP_BEG,PEROP_END,FASTPAY,IGNR_IVREF,FMFGUS_KEY,FMXDOCNR,FMXYEAR,FMXDOCLN,FMXZEKKN,PRODPER,GST_PART,PLC_SUP,HSN_SAC,RECRF,INWARD_NO,INWARD_DT,GROUND_NO,GROUND_DT,GROUND_TYP,PYMTKEY,START_DATE,ACTIVE_FLAG,DELETE_FLAG)\nSELECT MANDT,BUKRS,BELNR,GJAHR,BUZEI,BUZID,AUGDT,AUGCP,AUGBL,BSCHL,KOART,UMSKZ,UMSKS,ZUMSK,SHKZG,GSBER,PARGB,MWSKZ,QSSKZ,DMBTR,WRBTR,KZBTR,PSWBT,PSWSL,TXBHW,TXBFW,MWSTS,WMWST,HWBAS,FWBAS,HWZUZ,FWZUZ,SHZUZ,STEKZ,MWART,TXGRP,KTOSL,QSSHB,KURSR,GBETR,BDIFF,BDIF2,VALUT,ZUONR,SGTXT,ZINKZ,VBUND,BEWAR,ALTKT,VORGN,FDLEV,FDGRP,FDWBT,FDTAG,FKONT,KOKRS,KOSTL,PROJN,AUFNR,VBELN,VBEL2,POSN2,ETEN2,ANLN1,ANLN2,ANBWA,BZDAT,PERNR,XUMSW,XHRES,XKRES,XOPVW,XCPDD,XSKST,XSAUF,XSPRO,XSERG,XFAKT,XUMAN,XANET,XSKRL,XINVE,XPANZ,XAUTO,XNCOP,XZAHL,SAKNR,HKONT,KUNNR,LIFNR,FILKD,XBILK,GVTYP,HZUON,ZFBDT,ZTERM,ZBD1T,ZBD2T,ZBD3T,ZBD1P,ZBD2P,SKFBT,SKNTO,WSKTO,ZLSCH,ZLSPR,ZBFIX,HBKID,BVTYP,NEBTR,MWSK1,DMBT1,WRBT1,MWSK2,DMBT2,WRBT2,MWSK3,DMBT3,WRBT3,REBZG,REBZJ,REBZZ,REBZT,ZOLLT,ZOLLD,LZBKZ,LANDL,DIEKZ,SAMNR,ABPER,VRSKZ,VRSDT,DISBN,DISBJ,DISBZ,WVERW,ANFBN,ANFBJ,ANFBU,ANFAE,BLNBT,BLNKZ,BLNPZ,MSCHL,MANSP,MADAT,MANST,MABER,ESRNR,ESRRE,ESRPZ,KLIBT,QSZNR,QBSHB,QSFBT,NAVHW,NAVFW,MATNR,WERKS,MENGE,MEINS,ERFMG,ERFME,BPMNG,BPRME,EBELN,EBELP,ZEKKN,ELIKZ,VPRSV,PEINH,BWKEY,BWTAR,BUSTW,REWRT,REWWR,BONFB,BUALT,PSALT,NPREI,TBTKZ,SPGRP,SPGRM,SPGRT,SPGRG,SPGRV,SPGRQ,STCEG,EGBLD,EGLLD,RSTGR,RYACQ,RPACQ,RDIFF,RDIF2,PRCTR,XHKOM,VNAME,RECID,EGRUP,VPTNR,VERTT,VERTN,VBEWA,DEPOT,TXJCD,IMKEY,DABRZ,POPTS,FIPOS,KSTRG,NPLNR,AUFPL,APLZL,PROJK,PAOBJNR,PASUBNR,SPGRS,SPGRC,BTYPE,ETYPE,XEGDR,LNRAN,HRKFT,DMBE2,DMBE3,DMB21,DMB22,DMB23,DMB31,DMB32,DMB33,MWST2,MWST3,NAVH2,NAVH3,SKNT2,SKNT3,BDIF3,RDIF3,HWMET,GLUPM,XRAGL,UZAWE,LOKKT,FISTL,GEBER,STBUK,TXBH2,TXBH3,PPRCT,XREF1,XREF2,KBLNR,KBLPOS,STTAX,FKBER,OBZEI,XNEGP,RFZEI,CCBTC,KKBER,EMPFB,XREF3,DTWS1,DTWS2,DTWS3,DTWS4,GRICD,GRIRG,GITYP,XPYPR,KIDNO,ABSBT,IDXSP,LINFV,KONTT,KONTL,UEBGDAT,TXDAT,AGZEI,PYCUR,PYAMT,BUPLA,SECCO,LSTAR,CESSION_KZ,PRZNR,PPDIFF,PPDIF2,PPDIF3,PENLC1,PENLC2,PENLC3,PENFC,PENDAYS,PENRC,GRANT_NBR,SCTAX,FKBER_LONG,GMVKZ,SRTYPE,INTRENO,MEASURE,AUGGJ,PPA_EX_IND,DOCLN,SEGMENT,PSEGMENT,PFKBER,HKTID,KSTAR,XLGCLR,TAXPS,PAYS_PROV,PAYS_TRAN,MNDID,XFRGE_BSEG,AWTYP,AWKEY,AWSYS,POSNR,BUZEI_SENDER,H_MONAT,H_BSTAT,H_BUDAT,H_BLDAT,H_WAERS,H_BLART,H_HWAER,H_HWAE2,H_HWAE3,NETDT,SK1DT,SK2DT,_DATAAGING,FQFTYPE,LQITEM,GKONT,GKART,GHKON,SQUAN,ANLN2_PN,BWASL_PN,BZDAT_PN,XVABG_PN,ANBTR_PN,PROZS_PN,ZZHRKFT,ZZHRKTX,DUMMY_INCL_EEW_COBL,RE_BUKRS,RE_ACCOUNT,PGEBER,PGRANT_NBR,BUDGET_PD,PBUDGET_PD,J_1TPBUPL,PEROP_BEG,PEROP_END,FASTPAY,IGNR_IVREF,FMFGUS_KEY,FMXDOCNR,FMXYEAR,FMXDOCLN,FMXZEKKN,PRODPER,GST_PART,PLC_SUP,HSN_SAC,RECRF,INWARD_NO,INWARD_DT,GROUND_NO,GROUND_DT,GROUND_TYP,PYMTKEY,START_DATE,ACTIVE_FLAG,DELETE_FLAG\nFROM dbo.BSEG_CDC_SCD2;"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "TEMP_SCD2TEST2",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "SCD2_SCD2TEST",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "AzureSynapseAnalytics",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": "INSERT INTO dbo.BSEG_CDC_SCD2_TEST2 (MANDT,BUKRS,BELNR,GJAHR,BUZEI,BUZID,AUGDT,AUGCP,AUGBL,BSCHL,KOART,UMSKZ,UMSKS,ZUMSK,SHKZG,GSBER,PARGB,MWSKZ,QSSKZ,DMBTR,WRBTR,KZBTR,PSWBT,PSWSL,TXBHW,TXBFW,MWSTS,WMWST,HWBAS,FWBAS,HWZUZ,FWZUZ,SHZUZ,STEKZ,MWART,TXGRP,KTOSL,QSSHB,KURSR,GBETR,BDIFF,BDIF2,VALUT,ZUONR,SGTXT,ZINKZ,VBUND,BEWAR,ALTKT,VORGN,FDLEV,FDGRP,FDWBT,FDTAG,FKONT,KOKRS,KOSTL,PROJN,AUFNR,VBELN,VBEL2,POSN2,ETEN2,ANLN1,ANLN2,ANBWA,BZDAT,PERNR,XUMSW,XHRES,XKRES,XOPVW,XCPDD,XSKST,XSAUF,XSPRO,XSERG,XFAKT,XUMAN,XANET,XSKRL,XINVE,XPANZ,XAUTO,XNCOP,XZAHL,SAKNR,HKONT,KUNNR,LIFNR,FILKD,XBILK,GVTYP,HZUON,ZFBDT,ZTERM,ZBD1T,ZBD2T,ZBD3T,ZBD1P,ZBD2P,SKFBT,SKNTO,WSKTO,ZLSCH,ZLSPR,ZBFIX,HBKID,BVTYP,NEBTR,MWSK1,DMBT1,WRBT1,MWSK2,DMBT2,WRBT2,MWSK3,DMBT3,WRBT3,REBZG,REBZJ,REBZZ,REBZT,ZOLLT,ZOLLD,LZBKZ,LANDL,DIEKZ,SAMNR,ABPER,VRSKZ,VRSDT,DISBN,DISBJ,DISBZ,WVERW,ANFBN,ANFBJ,ANFBU,ANFAE,BLNBT,BLNKZ,BLNPZ,MSCHL,MANSP,MADAT,MANST,MABER,ESRNR,ESRRE,ESRPZ,KLIBT,QSZNR,QBSHB,QSFBT,NAVHW,NAVFW,MATNR,WERKS,MENGE,MEINS,ERFMG,ERFME,BPMNG,BPRME,EBELN,EBELP,ZEKKN,ELIKZ,VPRSV,PEINH,BWKEY,BWTAR,BUSTW,REWRT,REWWR,BONFB,BUALT,PSALT,NPREI,TBTKZ,SPGRP,SPGRM,SPGRT,SPGRG,SPGRV,SPGRQ,STCEG,EGBLD,EGLLD,RSTGR,RYACQ,RPACQ,RDIFF,RDIF2,PRCTR,XHKOM,VNAME,RECID,EGRUP,VPTNR,VERTT,VERTN,VBEWA,DEPOT,TXJCD,IMKEY,DABRZ,POPTS,FIPOS,KSTRG,NPLNR,AUFPL,APLZL,PROJK,PAOBJNR,PASUBNR,SPGRS,SPGRC,BTYPE,ETYPE,XEGDR,LNRAN,HRKFT,DMBE2,DMBE3,DMB21,DMB22,DMB23,DMB31,DMB32,DMB33,MWST2,MWST3,NAVH2,NAVH3,SKNT2,SKNT3,BDIF3,RDIF3,HWMET,GLUPM,XRAGL,UZAWE,LOKKT,FISTL,GEBER,STBUK,TXBH2,TXBH3,PPRCT,XREF1,XREF2,KBLNR,KBLPOS,STTAX,FKBER,OBZEI,XNEGP,RFZEI,CCBTC,KKBER,EMPFB,XREF3,DTWS1,DTWS2,DTWS3,DTWS4,GRICD,GRIRG,GITYP,XPYPR,KIDNO,ABSBT,IDXSP,LINFV,KONTT,KONTL,UEBGDAT,TXDAT,AGZEI,PYCUR,PYAMT,BUPLA,SECCO,LSTAR,CESSION_KZ,PRZNR,PPDIFF,PPDIF2,PPDIF3,PENLC1,PENLC2,PENLC3,PENFC,PENDAYS,PENRC,GRANT_NBR,SCTAX,FKBER_LONG,GMVKZ,SRTYPE,INTRENO,MEASURE,AUGGJ,PPA_EX_IND,DOCLN,SEGMENT,PSEGMENT,PFKBER,HKTID,KSTAR,XLGCLR,TAXPS,PAYS_PROV,PAYS_TRAN,MNDID,XFRGE_BSEG,AWTYP,AWKEY,AWSYS,POSNR,BUZEI_SENDER,H_MONAT,H_BSTAT,H_BUDAT,H_BLDAT,H_WAERS,H_BLART,H_HWAER,H_HWAE2,H_HWAE3,NETDT,SK1DT,SK2DT,_DATAAGING,FQFTYPE,LQITEM,GKONT,GKART,GHKON,SQUAN,ANLN2_PN,BWASL_PN,BZDAT_PN,XVABG_PN,ANBTR_PN,PROZS_PN,ZZHRKFT,ZZHRKTX,DUMMY_INCL_EEW_COBL,RE_BUKRS,RE_ACCOUNT,PGEBER,PGRANT_NBR,BUDGET_PD,PBUDGET_PD,J_1TPBUPL,PEROP_BEG,PEROP_END,FASTPAY,IGNR_IVREF,FMFGUS_KEY,FMXDOCNR,FMXYEAR,FMXDOCLN,FMXZEKKN,PRODPER,GST_PART,PLC_SUP,HSN_SAC,RECRF,INWARD_NO,INWARD_DT,GROUND_NO,GROUND_DT,GROUND_TYP,PYMTKEY,START_DATE,ACTIVE_FLAG,DELETE_FLAG)\nSELECT MANDT,BUKRS,BELNR,GJAHR,BUZEI,BUZID,AUGDT,AUGCP,AUGBL,BSCHL,KOART,UMSKZ,UMSKS,ZUMSK,SHKZG,GSBER,PARGB,MWSKZ,QSSKZ,DMBTR,WRBTR,KZBTR,PSWBT,PSWSL,TXBHW,TXBFW,MWSTS,WMWST,HWBAS,FWBAS,HWZUZ,FWZUZ,SHZUZ,STEKZ,MWART,TXGRP,KTOSL,QSSHB,KURSR,GBETR,BDIFF,BDIF2,VALUT,ZUONR,SGTXT,ZINKZ,VBUND,BEWAR,ALTKT,VORGN,FDLEV,FDGRP,FDWBT,FDTAG,FKONT,KOKRS,KOSTL,PROJN,AUFNR,VBELN,VBEL2,POSN2,ETEN2,ANLN1,ANLN2,ANBWA,BZDAT,PERNR,XUMSW,XHRES,XKRES,XOPVW,XCPDD,XSKST,XSAUF,XSPRO,XSERG,XFAKT,XUMAN,XANET,XSKRL,XINVE,XPANZ,XAUTO,XNCOP,XZAHL,SAKNR,HKONT,KUNNR,LIFNR,FILKD,XBILK,GVTYP,HZUON,ZFBDT,ZTERM,ZBD1T,ZBD2T,ZBD3T,ZBD1P,ZBD2P,SKFBT,SKNTO,WSKTO,ZLSCH,ZLSPR,ZBFIX,HBKID,BVTYP,NEBTR,MWSK1,DMBT1,WRBT1,MWSK2,DMBT2,WRBT2,MWSK3,DMBT3,WRBT3,REBZG,REBZJ,REBZZ,REBZT,ZOLLT,ZOLLD,LZBKZ,LANDL,DIEKZ,SAMNR,ABPER,VRSKZ,VRSDT,DISBN,DISBJ,DISBZ,WVERW,ANFBN,ANFBJ,ANFBU,ANFAE,BLNBT,BLNKZ,BLNPZ,MSCHL,MANSP,MADAT,MANST,MABER,ESRNR,ESRRE,ESRPZ,KLIBT,QSZNR,QBSHB,QSFBT,NAVHW,NAVFW,MATNR,WERKS,MENGE,MEINS,ERFMG,ERFME,BPMNG,BPRME,EBELN,EBELP,ZEKKN,ELIKZ,VPRSV,PEINH,BWKEY,BWTAR,BUSTW,REWRT,REWWR,BONFB,BUALT,PSALT,NPREI,TBTKZ,SPGRP,SPGRM,SPGRT,SPGRG,SPGRV,SPGRQ,STCEG,EGBLD,EGLLD,RSTGR,RYACQ,RPACQ,RDIFF,RDIF2,PRCTR,XHKOM,VNAME,RECID,EGRUP,VPTNR,VERTT,VERTN,VBEWA,DEPOT,TXJCD,IMKEY,DABRZ,POPTS,FIPOS,KSTRG,NPLNR,AUFPL,APLZL,PROJK,PAOBJNR,PASUBNR,SPGRS,SPGRC,BTYPE,ETYPE,XEGDR,LNRAN,HRKFT,DMBE2,DMBE3,DMB21,DMB22,DMB23,DMB31,DMB32,DMB33,MWST2,MWST3,NAVH2,NAVH3,SKNT2,SKNT3,BDIF3,RDIF3,HWMET,GLUPM,XRAGL,UZAWE,LOKKT,FISTL,GEBER,STBUK,TXBH2,TXBH3,PPRCT,XREF1,XREF2,KBLNR,KBLPOS,STTAX,FKBER,OBZEI,XNEGP,RFZEI,CCBTC,KKBER,EMPFB,XREF3,DTWS1,DTWS2,DTWS3,DTWS4,GRICD,GRIRG,GITYP,XPYPR,KIDNO,ABSBT,IDXSP,LINFV,KONTT,KONTL,UEBGDAT,TXDAT,AGZEI,PYCUR,PYAMT,BUPLA,SECCO,LSTAR,CESSION_KZ,PRZNR,PPDIFF,PPDIF2,PPDIF3,PENLC1,PENLC2,PENLC3,PENFC,PENDAYS,PENRC,GRANT_NBR,SCTAX,FKBER_LONG,GMVKZ,SRTYPE,INTRENO,MEASURE,AUGGJ,PPA_EX_IND,DOCLN,SEGMENT,PSEGMENT,PFKBER,HKTID,KSTAR,XLGCLR,TAXPS,PAYS_PROV,PAYS_TRAN,MNDID,XFRGE_BSEG,AWTYP,AWKEY,AWSYS,POSNR,BUZEI_SENDER,H_MONAT,H_BSTAT,H_BUDAT,H_BLDAT,H_WAERS,H_BLART,H_HWAER,H_HWAE2,H_HWAE3,NETDT,SK1DT,SK2DT,_DATAAGING,FQFTYPE,LQITEM,GKONT,GKART,GHKON,SQUAN,ANLN2_PN,BWASL_PN,BZDAT_PN,XVABG_PN,ANBTR_PN,PROZS_PN,ZZHRKFT,ZZHRKTX,DUMMY_INCL_EEW_COBL,RE_BUKRS,RE_ACCOUNT,PGEBER,PGRANT_NBR,BUDGET_PD,PBUDGET_PD,J_1TPBUPL,PEROP_BEG,PEROP_END,FASTPAY,IGNR_IVREF,FMFGUS_KEY,FMXDOCNR,FMXYEAR,FMXDOCLN,FMXZEKKN,PRODPER,GST_PART,PLC_SUP,HSN_SAC,RECRF,INWARD_NO,INWARD_DT,GROUND_NO,GROUND_DT,GROUND_TYP,PYMTKEY,GETDATE(),ACTIVE_FLAG,DELETE_FLAG\nFROM dbo.BSEG_CDC_TEMP;"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "TEST"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSynapseAnalytics')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/01_LOAD_INITIAL_LOAD_TO_BACKUP')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Script",
						"type": "Script",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "AzureSynapseAnalytics",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": "\nINSERT INTO dbo.BSEG_CDC_BACKUP (MANDT,BUKRS,BELNR,GJAHR,BUZEI,BUZID,AUGDT,AUGCP,AUGBL,BSCHL,KOART,UMSKZ,UMSKS,ZUMSK,SHKZG,GSBER,PARGB,MWSKZ,QSSKZ,DMBTR,WRBTR,KZBTR,PSWBT,PSWSL,TXBHW,TXBFW,MWSTS,WMWST,HWBAS,FWBAS,HWZUZ,FWZUZ,SHZUZ,STEKZ,MWART,TXGRP,KTOSL,QSSHB,KURSR,GBETR,BDIFF,BDIF2,VALUT,ZUONR,SGTXT,ZINKZ,VBUND,BEWAR,ALTKT,VORGN,FDLEV,FDGRP,FDWBT,FDTAG,FKONT,KOKRS,KOSTL,PROJN,AUFNR,VBELN,VBEL2,POSN2,ETEN2,ANLN1,ANLN2,ANBWA,BZDAT,PERNR,XUMSW,XHRES,XKRES,XOPVW,XCPDD,XSKST,XSAUF,XSPRO,XSERG,XFAKT,XUMAN,XANET,XSKRL,XINVE,XPANZ,XAUTO,XNCOP,XZAHL,SAKNR,HKONT,KUNNR,LIFNR,FILKD,XBILK,GVTYP,HZUON,ZFBDT,ZTERM,ZBD1T,ZBD2T,ZBD3T,ZBD1P,ZBD2P,SKFBT,SKNTO,WSKTO,ZLSCH,ZLSPR,ZBFIX,HBKID,BVTYP,NEBTR,MWSK1,DMBT1,WRBT1,MWSK2,DMBT2,WRBT2,MWSK3,DMBT3,WRBT3,REBZG,REBZJ,REBZZ,REBZT,ZOLLT,ZOLLD,LZBKZ,LANDL,DIEKZ,SAMNR,ABPER,VRSKZ,VRSDT,DISBN,DISBJ,DISBZ,WVERW,ANFBN,ANFBJ,ANFBU,ANFAE,BLNBT,BLNKZ,BLNPZ,MSCHL,MANSP,MADAT,MANST,MABER,ESRNR,ESRRE,ESRPZ,KLIBT,QSZNR,QBSHB,QSFBT,NAVHW,NAVFW,MATNR,WERKS,MENGE,MEINS,ERFMG,ERFME,BPMNG,BPRME,EBELN,EBELP,ZEKKN,ELIKZ,VPRSV,PEINH,BWKEY,BWTAR,BUSTW,REWRT,REWWR,BONFB,BUALT,PSALT,NPREI,TBTKZ,SPGRP,SPGRM,SPGRT,SPGRG,SPGRV,SPGRQ,STCEG,EGBLD,EGLLD,RSTGR,RYACQ,RPACQ,RDIFF,RDIF2,PRCTR,XHKOM,VNAME,RECID,EGRUP,VPTNR,VERTT,VERTN,VBEWA,DEPOT,TXJCD,IMKEY,DABRZ,POPTS,FIPOS,KSTRG,NPLNR,AUFPL,APLZL,PROJK,PAOBJNR,PASUBNR,SPGRS,SPGRC,BTYPE,ETYPE,XEGDR,LNRAN,HRKFT,DMBE2,DMBE3,DMB21,DMB22,DMB23,DMB31,DMB32,DMB33,MWST2,MWST3,NAVH2,NAVH3,SKNT2,SKNT3,BDIF3,RDIF3,HWMET,GLUPM,XRAGL,UZAWE,LOKKT,FISTL,GEBER,STBUK,TXBH2,TXBH3,PPRCT,XREF1,XREF2,KBLNR,KBLPOS,STTAX,FKBER,OBZEI,XNEGP,RFZEI,CCBTC,KKBER,EMPFB,XREF3,DTWS1,DTWS2,DTWS3,DTWS4,GRICD,GRIRG,GITYP,XPYPR,KIDNO,ABSBT,IDXSP,LINFV,KONTT,KONTL,UEBGDAT,TXDAT,AGZEI,PYCUR,PYAMT,BUPLA,SECCO,LSTAR,CESSION_KZ,PRZNR,PPDIFF,PPDIF2,PPDIF3,PENLC1,PENLC2,PENLC3,PENFC,PENDAYS,PENRC,GRANT_NBR,SCTAX,FKBER_LONG,GMVKZ,SRTYPE,INTRENO,MEASURE,AUGGJ,PPA_EX_IND,DOCLN,SEGMENT,PSEGMENT,PFKBER,HKTID,KSTAR,XLGCLR,TAXPS,PAYS_PROV,PAYS_TRAN,MNDID,XFRGE_BSEG,AWTYP,AWKEY,AWSYS,POSNR,BUZEI_SENDER,H_MONAT,H_BSTAT,H_BUDAT,H_BLDAT,H_WAERS,H_BLART,H_HWAER,H_HWAE2,H_HWAE3,NETDT,SK1DT,SK2DT,_DATAAGING,FQFTYPE,LQITEM,GKONT,GKART,GHKON,SQUAN,ANLN2_PN,BWASL_PN,BZDAT_PN,XVABG_PN,ANBTR_PN,PROZS_PN,ZZHRKFT,ZZHRKTX,DUMMY_INCL_EEW_COBL,RE_BUKRS,RE_ACCOUNT,PGEBER,PGRANT_NBR,BUDGET_PD,PBUDGET_PD,J_1TPBUPL,PEROP_BEG,PEROP_END,FASTPAY,IGNR_IVREF,FMFGUS_KEY,FMXDOCNR,FMXYEAR,FMXDOCLN,FMXZEKKN,PRODPER,GST_PART,PLC_SUP,HSN_SAC,RECRF,INWARD_NO,INWARD_DT,GROUND_NO,GROUND_DT,GROUND_TYP,PYMTKEY)\nSELECT MANDT,BUKRS,BELNR,GJAHR,BUZEI,BUZID,AUGDT,AUGCP,AUGBL,BSCHL,KOART,UMSKZ,UMSKS,ZUMSK,SHKZG,GSBER,PARGB,MWSKZ,QSSKZ,DMBTR,WRBTR,KZBTR,PSWBT,PSWSL,TXBHW,TXBFW,MWSTS,WMWST,HWBAS,FWBAS,HWZUZ,FWZUZ,SHZUZ,STEKZ,MWART,TXGRP,KTOSL,QSSHB,KURSR,GBETR,BDIFF,BDIF2,VALUT,ZUONR,SGTXT,ZINKZ,VBUND,BEWAR,ALTKT,VORGN,FDLEV,FDGRP,FDWBT,FDTAG,FKONT,KOKRS,KOSTL,PROJN,AUFNR,VBELN,VBEL2,POSN2,ETEN2,ANLN1,ANLN2,ANBWA,BZDAT,PERNR,XUMSW,XHRES,XKRES,XOPVW,XCPDD,XSKST,XSAUF,XSPRO,XSERG,XFAKT,XUMAN,XANET,XSKRL,XINVE,XPANZ,XAUTO,XNCOP,XZAHL,SAKNR,HKONT,KUNNR,LIFNR,FILKD,XBILK,GVTYP,HZUON,ZFBDT,ZTERM,ZBD1T,ZBD2T,ZBD3T,ZBD1P,ZBD2P,SKFBT,SKNTO,WSKTO,ZLSCH,ZLSPR,ZBFIX,HBKID,BVTYP,NEBTR,MWSK1,DMBT1,WRBT1,MWSK2,DMBT2,WRBT2,MWSK3,DMBT3,WRBT3,REBZG,REBZJ,REBZZ,REBZT,ZOLLT,ZOLLD,LZBKZ,LANDL,DIEKZ,SAMNR,ABPER,VRSKZ,VRSDT,DISBN,DISBJ,DISBZ,WVERW,ANFBN,ANFBJ,ANFBU,ANFAE,BLNBT,BLNKZ,BLNPZ,MSCHL,MANSP,MADAT,MANST,MABER,ESRNR,ESRRE,ESRPZ,KLIBT,QSZNR,QBSHB,QSFBT,NAVHW,NAVFW,MATNR,WERKS,MENGE,MEINS,ERFMG,ERFME,BPMNG,BPRME,EBELN,EBELP,ZEKKN,ELIKZ,VPRSV,PEINH,BWKEY,BWTAR,BUSTW,REWRT,REWWR,BONFB,BUALT,PSALT,NPREI,TBTKZ,SPGRP,SPGRM,SPGRT,SPGRG,SPGRV,SPGRQ,STCEG,EGBLD,EGLLD,RSTGR,RYACQ,RPACQ,RDIFF,RDIF2,PRCTR,XHKOM,VNAME,RECID,EGRUP,VPTNR,VERTT,VERTN,VBEWA,DEPOT,TXJCD,IMKEY,DABRZ,POPTS,FIPOS,KSTRG,NPLNR,AUFPL,APLZL,PROJK,PAOBJNR,PASUBNR,SPGRS,SPGRC,BTYPE,ETYPE,XEGDR,LNRAN,HRKFT,DMBE2,DMBE3,DMB21,DMB22,DMB23,DMB31,DMB32,DMB33,MWST2,MWST3,NAVH2,NAVH3,SKNT2,SKNT3,BDIF3,RDIF3,HWMET,GLUPM,XRAGL,UZAWE,LOKKT,FISTL,GEBER,STBUK,TXBH2,TXBH3,PPRCT,XREF1,XREF2,KBLNR,KBLPOS,STTAX,FKBER,OBZEI,XNEGP,RFZEI,CCBTC,KKBER,EMPFB,XREF3,DTWS1,DTWS2,DTWS3,DTWS4,GRICD,GRIRG,GITYP,XPYPR,KIDNO,ABSBT,IDXSP,LINFV,KONTT,KONTL,UEBGDAT,TXDAT,AGZEI,PYCUR,PYAMT,BUPLA,SECCO,LSTAR,CESSION_KZ,PRZNR,PPDIFF,PPDIF2,PPDIF3,PENLC1,PENLC2,PENLC3,PENFC,PENDAYS,PENRC,GRANT_NBR,SCTAX,FKBER_LONG,GMVKZ,SRTYPE,INTRENO,MEASURE,AUGGJ,PPA_EX_IND,DOCLN,SEGMENT,PSEGMENT,PFKBER,HKTID,KSTAR,XLGCLR,TAXPS,PAYS_PROV,PAYS_TRAN,MNDID,XFRGE_BSEG,AWTYP,AWKEY,AWSYS,POSNR,BUZEI_SENDER,H_MONAT,H_BSTAT,H_BUDAT,H_BLDAT,H_WAERS,H_BLART,H_HWAER,H_HWAE2,H_HWAE3,NETDT,SK1DT,SK2DT,_DATAAGING,FQFTYPE,LQITEM,GKONT,GKART,GHKON,SQUAN,ANLN2_PN,BWASL_PN,BZDAT_PN,XVABG_PN,ANBTR_PN,PROZS_PN,ZZHRKFT,ZZHRKTX,DUMMY_INCL_EEW_COBL,RE_BUKRS,RE_ACCOUNT,PGEBER,PGRANT_NBR,BUDGET_PD,PBUDGET_PD,J_1TPBUPL,PEROP_BEG,PEROP_END,FASTPAY,IGNR_IVREF,FMFGUS_KEY,FMXDOCNR,FMXYEAR,FMXDOCLN,FMXZEKKN,PRODPER,GST_PART,PLC_SUP,HSN_SAC,RECRF,INWARD_NO,INWARD_DT,GROUND_NO,GROUND_DT,GROUND_TYP,PYMTKEY\nFROM dbo.BSEG\n;"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "TEST"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSynapseAnalytics')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/01_LOAD_INITIAL_LOAD_TO_TEMP')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Script",
						"type": "Script",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "AzureSynapseAnalytics",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": "INSERT INTO dbo.BSEG_CDC_TEMP (AEDATTM,MANDT,BUKRS,BELNR,GJAHR,BUZEI,BUZID,AUGDT,AUGCP,AUGBL,BSCHL,KOART,UMSKZ,UMSKS,ZUMSK,SHKZG,GSBER,PARGB,MWSKZ,QSSKZ,DMBTR,WRBTR,KZBTR,PSWBT,PSWSL,TXBHW,TXBFW,MWSTS,WMWST,HWBAS,FWBAS,HWZUZ,FWZUZ,SHZUZ,STEKZ,MWART,TXGRP,KTOSL,QSSHB,KURSR,GBETR,BDIFF,BDIF2,VALUT,ZUONR,SGTXT,ZINKZ,VBUND,BEWAR,ALTKT,VORGN,FDLEV,FDGRP,FDWBT,FDTAG,FKONT,KOKRS,KOSTL,PROJN,AUFNR,VBELN,VBEL2,POSN2,ETEN2,ANLN1,ANLN2,ANBWA,BZDAT,PERNR,XUMSW,XHRES,XKRES,XOPVW,XCPDD,XSKST,XSAUF,XSPRO,XSERG,XFAKT,XUMAN,XANET,XSKRL,XINVE,XPANZ,XAUTO,XNCOP,XZAHL,SAKNR,HKONT,KUNNR,LIFNR,FILKD,XBILK,GVTYP,HZUON,ZFBDT,ZTERM,ZBD1T,ZBD2T,ZBD3T,ZBD1P,ZBD2P,SKFBT,SKNTO,WSKTO,ZLSCH,ZLSPR,ZBFIX,HBKID,BVTYP,NEBTR,MWSK1,DMBT1,WRBT1,MWSK2,DMBT2,WRBT2,MWSK3,DMBT3,WRBT3,REBZG,REBZJ,REBZZ,REBZT,ZOLLT,ZOLLD,LZBKZ,LANDL,DIEKZ,SAMNR,ABPER,VRSKZ,VRSDT,DISBN,DISBJ,DISBZ,WVERW,ANFBN,ANFBJ,ANFBU,ANFAE,BLNBT,BLNKZ,BLNPZ,MSCHL,MANSP,MADAT,MANST,MABER,ESRNR,ESRRE,ESRPZ,KLIBT,QSZNR,QBSHB,QSFBT,NAVHW,NAVFW,MATNR,WERKS,MENGE,MEINS,ERFMG,ERFME,BPMNG,BPRME,EBELN,EBELP,ZEKKN,ELIKZ,VPRSV,PEINH,BWKEY,BWTAR,BUSTW,REWRT,REWWR,BONFB,BUALT,PSALT,NPREI,TBTKZ,SPGRP,SPGRM,SPGRT,SPGRG,SPGRV,SPGRQ,STCEG,EGBLD,EGLLD,RSTGR,RYACQ,RPACQ,RDIFF,RDIF2,PRCTR,XHKOM,VNAME,RECID,EGRUP,VPTNR,VERTT,VERTN,VBEWA,DEPOT,TXJCD,IMKEY,DABRZ,POPTS,FIPOS,KSTRG,NPLNR,AUFPL,APLZL,PROJK,PAOBJNR,PASUBNR,SPGRS,SPGRC,BTYPE,ETYPE,XEGDR,LNRAN,HRKFT,DMBE2,DMBE3,DMB21,DMB22,DMB23,DMB31,DMB32,DMB33,MWST2,MWST3,NAVH2,NAVH3,SKNT2,SKNT3,BDIF3,RDIF3,HWMET,GLUPM,XRAGL,UZAWE,LOKKT,FISTL,GEBER,STBUK,TXBH2,TXBH3,PPRCT,XREF1,XREF2,KBLNR,KBLPOS,STTAX,FKBER,OBZEI,XNEGP,RFZEI,CCBTC,KKBER,EMPFB,XREF3,DTWS1,DTWS2,DTWS3,DTWS4,GRICD,GRIRG,GITYP,XPYPR,KIDNO,ABSBT,IDXSP,LINFV,KONTT,KONTL,UEBGDAT,TXDAT,AGZEI,PYCUR,PYAMT,BUPLA,SECCO,LSTAR,CESSION_KZ,PRZNR,PPDIFF,PPDIF2,PPDIF3,PENLC1,PENLC2,PENLC3,PENFC,PENDAYS,PENRC,GRANT_NBR,SCTAX,FKBER_LONG,GMVKZ,SRTYPE,INTRENO,MEASURE,AUGGJ,PPA_EX_IND,DOCLN,SEGMENT,PSEGMENT,PFKBER,HKTID,KSTAR,XLGCLR,TAXPS,PAYS_PROV,PAYS_TRAN,MNDID,XFRGE_BSEG,AWTYP,AWKEY,AWSYS,POSNR,BUZEI_SENDER,H_MONAT,H_BSTAT,H_BUDAT,H_BLDAT,H_WAERS,H_BLART,H_HWAER,H_HWAE2,H_HWAE3,NETDT,SK1DT,SK2DT,_DATAAGING,FQFTYPE,LQITEM,GKONT,GKART,GHKON,SQUAN,ANLN2_PN,BWASL_PN,BZDAT_PN,XVABG_PN,ANBTR_PN,PROZS_PN,ZZHRKFT,ZZHRKTX,DUMMY_INCL_EEW_COBL,RE_BUKRS,RE_ACCOUNT,PGEBER,PGRANT_NBR,BUDGET_PD,PBUDGET_PD,J_1TPBUPL,PEROP_BEG,PEROP_END,FASTPAY,IGNR_IVREF,FMFGUS_KEY,FMXDOCNR,FMXYEAR,FMXDOCLN,FMXZEKKN,PRODPER,GST_PART,PLC_SUP,HSN_SAC,RECRF,INWARD_NO,INWARD_DT,GROUND_NO,GROUND_DT,GROUND_TYP,PYMTKEY)\nSELECT GETDATE(),MANDT,BUKRS,BELNR,GJAHR,BUZEI,BUZID,AUGDT,AUGCP,AUGBL,BSCHL,KOART,UMSKZ,UMSKS,ZUMSK,SHKZG,GSBER,PARGB,MWSKZ,QSSKZ,DMBTR,WRBTR,KZBTR,PSWBT,PSWSL,TXBHW,TXBFW,MWSTS,WMWST,HWBAS,FWBAS,HWZUZ,FWZUZ,SHZUZ,STEKZ,MWART,TXGRP,KTOSL,QSSHB,KURSR,GBETR,BDIFF,BDIF2,VALUT,ZUONR,SGTXT,ZINKZ,VBUND,BEWAR,ALTKT,VORGN,FDLEV,FDGRP,FDWBT,FDTAG,FKONT,KOKRS,KOSTL,PROJN,AUFNR,VBELN,VBEL2,POSN2,ETEN2,ANLN1,ANLN2,ANBWA,BZDAT,PERNR,XUMSW,XHRES,XKRES,XOPVW,XCPDD,XSKST,XSAUF,XSPRO,XSERG,XFAKT,XUMAN,XANET,XSKRL,XINVE,XPANZ,XAUTO,XNCOP,XZAHL,SAKNR,HKONT,KUNNR,LIFNR,FILKD,XBILK,GVTYP,HZUON,ZFBDT,ZTERM,ZBD1T,ZBD2T,ZBD3T,ZBD1P,ZBD2P,SKFBT,SKNTO,WSKTO,ZLSCH,ZLSPR,ZBFIX,HBKID,BVTYP,NEBTR,MWSK1,DMBT1,WRBT1,MWSK2,DMBT2,WRBT2,MWSK3,DMBT3,WRBT3,REBZG,REBZJ,REBZZ,REBZT,ZOLLT,ZOLLD,LZBKZ,LANDL,DIEKZ,SAMNR,ABPER,VRSKZ,VRSDT,DISBN,DISBJ,DISBZ,WVERW,ANFBN,ANFBJ,ANFBU,ANFAE,BLNBT,BLNKZ,BLNPZ,MSCHL,MANSP,MADAT,MANST,MABER,ESRNR,ESRRE,ESRPZ,KLIBT,QSZNR,QBSHB,QSFBT,NAVHW,NAVFW,MATNR,WERKS,MENGE,MEINS,ERFMG,ERFME,BPMNG,BPRME,EBELN,EBELP,ZEKKN,ELIKZ,VPRSV,PEINH,BWKEY,BWTAR,BUSTW,REWRT,REWWR,BONFB,BUALT,PSALT,NPREI,TBTKZ,SPGRP,SPGRM,SPGRT,SPGRG,SPGRV,SPGRQ,STCEG,EGBLD,EGLLD,RSTGR,RYACQ,RPACQ,RDIFF,RDIF2,PRCTR,XHKOM,VNAME,RECID,EGRUP,VPTNR,VERTT,VERTN,VBEWA,DEPOT,TXJCD,IMKEY,DABRZ,POPTS,FIPOS,KSTRG,NPLNR,AUFPL,APLZL,PROJK,PAOBJNR,PASUBNR,SPGRS,SPGRC,BTYPE,ETYPE,XEGDR,LNRAN,HRKFT,DMBE2,DMBE3,DMB21,DMB22,DMB23,DMB31,DMB32,DMB33,MWST2,MWST3,NAVH2,NAVH3,SKNT2,SKNT3,BDIF3,RDIF3,HWMET,GLUPM,XRAGL,UZAWE,LOKKT,FISTL,GEBER,STBUK,TXBH2,TXBH3,PPRCT,XREF1,XREF2,KBLNR,KBLPOS,STTAX,FKBER,OBZEI,XNEGP,RFZEI,CCBTC,KKBER,EMPFB,XREF3,DTWS1,DTWS2,DTWS3,DTWS4,GRICD,GRIRG,GITYP,XPYPR,KIDNO,ABSBT,IDXSP,LINFV,KONTT,KONTL,UEBGDAT,TXDAT,AGZEI,PYCUR,PYAMT,BUPLA,SECCO,LSTAR,CESSION_KZ,PRZNR,PPDIFF,PPDIF2,PPDIF3,PENLC1,PENLC2,PENLC3,PENFC,PENDAYS,PENRC,GRANT_NBR,SCTAX,FKBER_LONG,GMVKZ,SRTYPE,INTRENO,MEASURE,AUGGJ,PPA_EX_IND,DOCLN,SEGMENT,PSEGMENT,PFKBER,HKTID,KSTAR,XLGCLR,TAXPS,PAYS_PROV,PAYS_TRAN,MNDID,XFRGE_BSEG,AWTYP,AWKEY,AWSYS,POSNR,BUZEI_SENDER,H_MONAT,H_BSTAT,H_BUDAT,H_BLDAT,H_WAERS,H_BLART,H_HWAER,H_HWAE2,H_HWAE3,NETDT,SK1DT,SK2DT,_DATAAGING,FQFTYPE,LQITEM,GKONT,GKART,GHKON,SQUAN,ANLN2_PN,BWASL_PN,BZDAT_PN,XVABG_PN,ANBTR_PN,PROZS_PN,ZZHRKFT,ZZHRKTX,DUMMY_INCL_EEW_COBL,RE_BUKRS,RE_ACCOUNT,PGEBER,PGRANT_NBR,BUDGET_PD,PBUDGET_PD,J_1TPBUPL,PEROP_BEG,PEROP_END,FASTPAY,IGNR_IVREF,FMFGUS_KEY,FMXDOCNR,FMXYEAR,FMXDOCLN,FMXZEKKN,PRODPER,GST_PART,PLC_SUP,HSN_SAC,RECRF,INWARD_NO,INWARD_DT,GROUND_NO,GROUND_DT,GROUND_TYP,PYMTKEY\nFROM dbo.BSEG\n;"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "TEST"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSynapseAnalytics')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CSV_DATASET_DYNAMIC_tab_delimiter')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "adls",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"Filename": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": {
							"value": "@dataset().Filename",
							"type": "Expression"
						},
						"fileSystem": "synapse-povtug"
					},
					"columnDelimiter": "\t",
					"escapeChar": "~",
					"firstRowAsHeader": true,
					"quoteChar": ""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/adls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CSV_TEST')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "adls",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"Filename": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@concat(dataset().Filename,'.csv')",
							"type": "Expression"
						},
						"fileSystem": "synapse-povtug"
					},
					"columnDelimiter": "\t",
					"escapeChar": "",
					"firstRowAsHeader": true,
					"quoteChar": ""
				},
				"schema": [
					{
						"name": "VBELN\tPOSNR\tETENR\tETTYP\tLFREL\tEDATU\tEZEIT\tWMENG\tBMENG\tVRKME\tLMENG\tMEINS\tBDDAT\tBDART\tPLART\tVBELE\tPOSNE\tETENE\tRSDAT\tIDNNR\tBANFN\tBSART\tBSTYP\tWEPOS\tREPOS\tLRGDT\tPRGRS\tTDDAT\tMBDAT\tLDDAT\tWADAT\tCMENG\tLIFSP\tGRSTR\tABART\tABRUF\tROMS1\tROMS2\tROMS3\tROMEI\tRFORM\tUMVKZ\tUMVKN\tVERFP\tBWART\tBNFPO\tETART\tAUFNR\tPLNUM\tSERNR\tAESKD\tABGES\tMBUHR\tTDUHR\tLDUHR\tWAUHR\tAULWE\tHANDOVERDATE\tHANDOVERTIME\tDLVQTY_BU\tDLVQTY_SU\tOCDQTY_BU\tOCDQTY_SU\tORDQTY_BU\tORDQTY_SU\tCREA_DLVDATE\tREQ_DLVDATE\tBEDAR\t_DATAAGING\tWAERK\tODN_AMOUNT\tDUMMY_SLSDOCSCHEDL_INCL_EEW_PS\tFSH_RALLOC_QTY\tFSH_OS_ID\tFSH_PQR_RC\tMBDAT_DRS",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/adls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DIRECT_SYNAPSE_DATASET_DYNAMIC')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSynapseAnalytics",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"SynapseTableName": {
						"type": "string"
					},
					"SynapseSchema": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().SynapseSchema",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().SynapseTableName",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSynapseAnalytics')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_PARQUET_SOURCE')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "adls",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"FOLDER_NM": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": {
							"value": "@dataset().FOLDER_NM",
							"type": "Expression"
						},
						"fileSystem": "synapse-povtug"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/adls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SRC_PROCESS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "adls",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"FOLDER_NM": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": {
							"value": "@dataset().FOLDER_NM",
							"type": "Expression"
						},
						"fileSystem": "synapse-povtug"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/adls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PARQUET_DATASET_DYNAMIC')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "adls",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"FileName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": {
							"value": "@dataset().FileName",
							"type": "Expression"
						},
						"fileSystem": "synapse-povtug"
					},
					"compressionCodec": "none"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/adls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/mftest')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "adls",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"FOLDER_NM": {
						"type": "string"
					},
					"FILE_NM": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().FILE_NM",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().FOLDER_NM",
							"type": "Expression"
						},
						"fileSystem": "synapse-povtug"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/adls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServer1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('SqlServer1_connectionString')]"
				},
				"connectVia": {
					"referenceName": "integrationRuntime-ADFPOVTUGDEV",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/integrationRuntime-ADFPOVTUGDEV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ACDOCA')]",
			"type": "Microsoft.DataFactory/factories/adfcdcs",
			"apiVersion": "2018-06-01",
			"properties": {
				"SourceConnectionsInfo": [
					{
						"SourceEntities": [
							{
								"name": "synapse-povtug/ACDOCA_INITIAL",
								"properties": {
									"schema": [],
									"dslConnectorProperties": [
										{
											"name": "container",
											"value": "synapse-povtug"
										},
										{
											"name": "fileSystem",
											"value": "synapse-povtug"
										},
										{
											"name": "folderPath",
											"value": "ACDOCA_INITIAL"
										}
									]
								}
							}
						],
						"Connection": {
							"linkedService": {
								"referenceName": "adls",
								"type": "LinkedServiceReference"
							},
							"linkedServiceType": "AzureBlobFS",
							"type": "linkedservicetype",
							"isInlineDataset": true,
							"commonDslConnectorProperties": [
								{
									"name": "allowSchemaDrift",
									"value": true
								},
								{
									"name": "inferDriftedColumnTypes",
									"value": true
								},
								{
									"name": "format",
									"value": "parquet"
								},
								{
									"name": "dateFormats",
									"value": [
										"MM/dd/yyyy",
										"dd/MM/yyyy",
										"yyyy/MM/dd",
										"MM-dd-yyyy",
										"dd-MM-yyyy",
										"yyyy-MM-dd",
										"dd.MM.yyyy",
										"MM.dd.yyyy",
										"yyyy.MM.dd"
									]
								},
								{
									"name": "timestampFormats",
									"value": [
										"yyyyMMddHHmm",
										"yyyyMMdd HHmm",
										"yyyyMMddHHmmss",
										"yyyyMMdd HHmmss",
										"dd-MM-yyyy HH:mm:ss",
										"dd-MM-yyyy HH:mm",
										"yyyy-M-d H:m:s",
										"yyyy-MM-dd\\'T\\'HH:mm:ss\\'Z\\'",
										"yyyy-M-d\\'T\\'H:m:s\\'Z\\'",
										"yyyy-M-d\\'T\\'H:m:s",
										"yyyy-MM-dd\\'T\\'HH:mm:ss",
										"yyyy-MM-dd HH:mm:ss",
										"yyyy-MM-dd HH:mm",
										"yyyy.MM.dd HH:mm:ss",
										"MM/dd/yyyy HH:mm:ss",
										"M/d/yyyy H:m:s",
										"yyyy/MM/dd HH:mm:ss",
										"yyyy/M/d H:m:s",
										"dd MMM yyyy HH:mm:ss",
										"dd MMMM yyyy HH:mm:ss",
										"d MMM yyyy H:m:s",
										"d MMMM yyyy H:m:s",
										"d-M-yyyy H:m:s",
										"d-M-yyyy H:m",
										"yyyy-M-d H:m",
										"MM/dd/yyyy HH:mm",
										"M/d/yyyy H:m",
										"yyyy/MM/dd HH:mm",
										"yyyy/M/d H:m",
										"dd MMMM yyyy HH:mm",
										"dd MMM yyyy HH:mm",
										"d MMMM yyyy H:m",
										"d MMM yyyy H:m",
										"MM-dd-yyyy hh:mm:ss a",
										"MM-dd-yyyy HH:mm:ss",
										"MM/dd/yyyy hh:mm:ss a",
										"yyyy.MM.dd hh:mm:ss a",
										"MM/dd/yyyy",
										"dd/MM/yyyy",
										"yyyy/MM/dd",
										"MM-dd-yyyy",
										"dd-MM-yyyy",
										"yyyy-MM-dd",
										"dd.MM.yyyy",
										"MM.dd.yyyy",
										"yyyy.MM.dd"
									]
								},
								{
									"name": "enableCdc",
									"value": true
								},
								{
									"name": "skipInitialLoad",
									"value": true
								}
							]
						}
					}
				],
				"TargetConnectionsInfo": [
					{
						"TargetEntities": [
							{
								"name": "dbo.ACDOCA_CDC_SCD2",
								"properties": {
									"schema": [],
									"dslConnectorProperties": [
										{
											"name": "schemaName",
											"value": "dbo"
										},
										{
											"name": "tableName",
											"value": "ACDOCA_CDC_SCD2"
										},
										{
											"name": "keys",
											"value": [
												"RCLNT",
												"RLDNR",
												"RBUKRS",
												"GJAHR",
												"BELNR",
												"DOCLN"
											]
										},
										{
											"name": "deletable",
											"value": true
										},
										{
											"name": "updateable",
											"value": true
										},
										{
											"name": "upsertable",
											"value": true
										},
										{
											"name": "defaultToUpsert",
											"value": true
										}
									]
								}
							}
						],
						"Connection": {
							"linkedService": {
								"referenceName": "AzureSynapseAnalytics",
								"type": "LinkedServiceReference"
							},
							"linkedServiceType": "AzureSqlDW",
							"type": "linkedservicetype",
							"isInlineDataset": true,
							"commonDslConnectorProperties": [
								{
									"name": "allowSchemaDrift",
									"value": true
								},
								{
									"name": "inferDriftedColumnTypes",
									"value": true
								},
								{
									"name": "format",
									"value": "table"
								},
								{
									"name": "store",
									"value": "synapseanalytics"
								},
								{
									"name": "databaseType",
									"value": "databaseType"
								},
								{
									"name": "database",
									"value": "database"
								},
								{
									"name": "deletable",
									"value": false
								},
								{
									"name": "insertable",
									"value": true
								},
								{
									"name": "updateable",
									"value": false
								},
								{
									"name": "upsertable",
									"value": false
								},
								{
									"name": "allowCopyCommand",
									"value": false
								},
								{
									"name": "staged",
									"value": true
								},
								{
									"name": "skipDuplicateMapInputs",
									"value": true
								},
								{
									"name": "skipDuplicateMapOutputs",
									"value": true
								}
							]
						},
						"DataMapperMappings": [
							{
								"targetEntityName": "dbo.ACDOCA_CDC_SCD2",
								"sourceEntityName": "synapse-povtug/ACDOCA_INITIAL",
								"sourceConnectionReference": {
									"connectionName": "adls",
									"type": "linkedservicetype"
								},
								"attributeMappingInfo": {
									"attributeMappings": []
								}
							}
						],
						"Relationships": []
					}
				],
				"Policy": {
					"recurrence": {
						"frequency": "Minute",
						"interval": 1
					},
					"mode": "Microbatch"
				},
				"allowVNetOverride": false,
				"typeProperties": {
					"staging": {
						"linkedService": {
							"referenceName": "adls",
							"type": "LinkedServiceReference"
						},
						"folderPath": "synapse-povtug/TMP_ACDOCA_INIT"
					},
					"linkedServiceType": "AzureBlobFS"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/adls')]",
				"[concat(variables('factoryId'), '/linkedServices/AzureSynapseAnalytics')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/BSEGCDC')]",
			"type": "Microsoft.DataFactory/factories/adfcdcs",
			"apiVersion": "2018-06-01",
			"properties": {
				"SourceConnectionsInfo": [
					{
						"SourceEntities": [
							{
								"name": "synapse-povtug/BSEG_DELTA_CHANGES",
								"properties": {
									"schema": [],
									"dslConnectorProperties": [
										{
											"name": "container",
											"value": "synapse-povtug"
										},
										{
											"name": "fileSystem",
											"value": "synapse-povtug"
										},
										{
											"name": "folderPath",
											"value": "BSEG_DELTA_CHANGES"
										}
									]
								}
							}
						],
						"Connection": {
							"linkedService": {
								"referenceName": "adls",
								"type": "LinkedServiceReference"
							},
							"linkedServiceType": "AzureBlobFS",
							"type": "linkedservicetype",
							"isInlineDataset": true,
							"commonDslConnectorProperties": [
								{
									"name": "allowSchemaDrift",
									"value": true
								},
								{
									"name": "inferDriftedColumnTypes",
									"value": true
								},
								{
									"name": "format",
									"value": "parquet"
								},
								{
									"name": "dateFormats",
									"value": [
										"MM/dd/yyyy",
										"dd/MM/yyyy",
										"yyyy/MM/dd",
										"MM-dd-yyyy",
										"dd-MM-yyyy",
										"yyyy-MM-dd",
										"dd.MM.yyyy",
										"MM.dd.yyyy",
										"yyyy.MM.dd"
									]
								},
								{
									"name": "timestampFormats",
									"value": [
										"yyyyMMddHHmm",
										"yyyyMMdd HHmm",
										"yyyyMMddHHmmss",
										"yyyyMMdd HHmmss",
										"dd-MM-yyyy HH:mm:ss",
										"dd-MM-yyyy HH:mm",
										"yyyy-M-d H:m:s",
										"yyyy-MM-dd\\'T\\'HH:mm:ss\\'Z\\'",
										"yyyy-M-d\\'T\\'H:m:s\\'Z\\'",
										"yyyy-M-d\\'T\\'H:m:s",
										"yyyy-MM-dd\\'T\\'HH:mm:ss",
										"yyyy-MM-dd HH:mm:ss",
										"yyyy-MM-dd HH:mm",
										"yyyy.MM.dd HH:mm:ss",
										"MM/dd/yyyy HH:mm:ss",
										"M/d/yyyy H:m:s",
										"yyyy/MM/dd HH:mm:ss",
										"yyyy/M/d H:m:s",
										"dd MMM yyyy HH:mm:ss",
										"dd MMMM yyyy HH:mm:ss",
										"d MMM yyyy H:m:s",
										"d MMMM yyyy H:m:s",
										"d-M-yyyy H:m:s",
										"d-M-yyyy H:m",
										"yyyy-M-d H:m",
										"MM/dd/yyyy HH:mm",
										"M/d/yyyy H:m",
										"yyyy/MM/dd HH:mm",
										"yyyy/M/d H:m",
										"dd MMMM yyyy HH:mm",
										"dd MMM yyyy HH:mm",
										"d MMMM yyyy H:m",
										"d MMM yyyy H:m",
										"MM-dd-yyyy hh:mm:ss a",
										"MM-dd-yyyy HH:mm:ss",
										"MM/dd/yyyy hh:mm:ss a",
										"yyyy.MM.dd hh:mm:ss a",
										"MM/dd/yyyy",
										"dd/MM/yyyy",
										"yyyy/MM/dd",
										"MM-dd-yyyy",
										"dd-MM-yyyy",
										"yyyy-MM-dd",
										"dd.MM.yyyy",
										"MM.dd.yyyy",
										"yyyy.MM.dd"
									]
								},
								{
									"name": "enableCdc",
									"value": true
								},
								{
									"name": "skipInitialLoad",
									"value": true
								}
							]
						}
					}
				],
				"TargetConnectionsInfo": [
					{
						"TargetEntities": [
							{
								"name": "dbo.TMP_BSEG_CDC_IN",
								"properties": {
									"schema": [],
									"dslConnectorProperties": [
										{
											"name": "schemaName",
											"value": "dbo"
										},
										{
											"name": "tableName",
											"value": "TMP_BSEG_CDC_IN"
										},
										{
											"name": "deletable",
											"value": true
										},
										{
											"name": "updateable",
											"value": true
										},
										{
											"name": "upsertable",
											"value": true
										},
										{
											"name": "defaultToUpsert",
											"value": true
										},
										{
											"name": "keys",
											"value": [
												"AERECNO",
												"AERUNID"
											]
										}
									]
								}
							}
						],
						"Connection": {
							"linkedService": {
								"referenceName": "AzureSynapseAnalytics",
								"type": "LinkedServiceReference"
							},
							"linkedServiceType": "AzureSqlDW",
							"type": "linkedservicetype",
							"isInlineDataset": true,
							"commonDslConnectorProperties": [
								{
									"name": "allowSchemaDrift",
									"value": true
								},
								{
									"name": "inferDriftedColumnTypes",
									"value": true
								},
								{
									"name": "format",
									"value": "table"
								},
								{
									"name": "store",
									"value": "synapseanalytics"
								},
								{
									"name": "databaseType",
									"value": "databaseType"
								},
								{
									"name": "database",
									"value": "database"
								},
								{
									"name": "deletable",
									"value": false
								},
								{
									"name": "insertable",
									"value": true
								},
								{
									"name": "updateable",
									"value": false
								},
								{
									"name": "upsertable",
									"value": false
								},
								{
									"name": "allowCopyCommand",
									"value": false
								},
								{
									"name": "staged",
									"value": true
								},
								{
									"name": "skipDuplicateMapInputs",
									"value": true
								},
								{
									"name": "skipDuplicateMapOutputs",
									"value": true
								}
							]
						},
						"DataMapperMappings": [
							{
								"targetEntityName": "dbo.TMP_BSEG_CDC_IN",
								"sourceEntityName": "synapse-povtug/BSEG_DELTA_CHANGES",
								"sourceConnectionReference": {
									"connectionName": "adls",
									"type": "linkedservicetype"
								},
								"attributeMappingInfo": {
									"attributeMappings": []
								}
							}
						],
						"Relationships": []
					}
				],
				"Policy": {
					"recurrence": {
						"frequency": "Minute",
						"interval": 1
					},
					"mode": "Microbatch"
				},
				"status": "Stopped",
				"allowVNetOverride": false,
				"typeProperties": {
					"staging": {
						"linkedService": {
							"referenceName": "adls",
							"type": "LinkedServiceReference"
						},
						"folderPath": "synapse-povtug/TMP_STAGING"
					},
					"linkedServiceType": "AzureBlobFS"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/adls')]",
				"[concat(variables('factoryId'), '/linkedServices/AzureSynapseAnalytics')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/BSEGINIT')]",
			"type": "Microsoft.DataFactory/factories/adfcdcs",
			"apiVersion": "2018-06-01",
			"properties": {
				"SourceConnectionsInfo": [
					{
						"SourceEntities": [
							{
								"name": "synapse-povtug/BSEG_INIT",
								"properties": {
									"schema": [],
									"dslConnectorProperties": [
										{
											"name": "container",
											"value": "synapse-povtug"
										},
										{
											"name": "fileSystem",
											"value": "synapse-povtug"
										},
										{
											"name": "folderPath",
											"value": "BSEG_INIT"
										}
									]
								}
							}
						],
						"Connection": {
							"linkedService": {
								"referenceName": "adls",
								"type": "LinkedServiceReference"
							},
							"linkedServiceType": "AzureBlobFS",
							"type": "linkedservicetype",
							"isInlineDataset": true,
							"commonDslConnectorProperties": [
								{
									"name": "allowSchemaDrift",
									"value": true
								},
								{
									"name": "inferDriftedColumnTypes",
									"value": true
								},
								{
									"name": "format",
									"value": "parquet"
								},
								{
									"name": "dateFormats",
									"value": [
										"MM/dd/yyyy",
										"dd/MM/yyyy",
										"yyyy/MM/dd",
										"MM-dd-yyyy",
										"dd-MM-yyyy",
										"yyyy-MM-dd",
										"dd.MM.yyyy",
										"MM.dd.yyyy",
										"yyyy.MM.dd"
									]
								},
								{
									"name": "timestampFormats",
									"value": [
										"yyyyMMddHHmm",
										"yyyyMMdd HHmm",
										"yyyyMMddHHmmss",
										"yyyyMMdd HHmmss",
										"dd-MM-yyyy HH:mm:ss",
										"dd-MM-yyyy HH:mm",
										"yyyy-M-d H:m:s",
										"yyyy-MM-dd\\'T\\'HH:mm:ss\\'Z\\'",
										"yyyy-M-d\\'T\\'H:m:s\\'Z\\'",
										"yyyy-M-d\\'T\\'H:m:s",
										"yyyy-MM-dd\\'T\\'HH:mm:ss",
										"yyyy-MM-dd HH:mm:ss",
										"yyyy-MM-dd HH:mm",
										"yyyy.MM.dd HH:mm:ss",
										"MM/dd/yyyy HH:mm:ss",
										"M/d/yyyy H:m:s",
										"yyyy/MM/dd HH:mm:ss",
										"yyyy/M/d H:m:s",
										"dd MMM yyyy HH:mm:ss",
										"dd MMMM yyyy HH:mm:ss",
										"d MMM yyyy H:m:s",
										"d MMMM yyyy H:m:s",
										"d-M-yyyy H:m:s",
										"d-M-yyyy H:m",
										"yyyy-M-d H:m",
										"MM/dd/yyyy HH:mm",
										"M/d/yyyy H:m",
										"yyyy/MM/dd HH:mm",
										"yyyy/M/d H:m",
										"dd MMMM yyyy HH:mm",
										"dd MMM yyyy HH:mm",
										"d MMMM yyyy H:m",
										"d MMM yyyy H:m",
										"MM-dd-yyyy hh:mm:ss a",
										"MM-dd-yyyy HH:mm:ss",
										"MM/dd/yyyy hh:mm:ss a",
										"yyyy.MM.dd hh:mm:ss a",
										"MM/dd/yyyy",
										"dd/MM/yyyy",
										"yyyy/MM/dd",
										"MM-dd-yyyy",
										"dd-MM-yyyy",
										"yyyy-MM-dd",
										"dd.MM.yyyy",
										"MM.dd.yyyy",
										"yyyy.MM.dd"
									]
								},
								{
									"name": "enableCdc",
									"value": true
								},
								{
									"name": "skipInitialLoad",
									"value": true
								}
							]
						}
					}
				],
				"TargetConnectionsInfo": [
					{
						"TargetEntities": [
							{
								"name": "dbo.BSEG_TGT",
								"properties": {
									"schema": [],
									"dslConnectorProperties": [
										{
											"name": "schemaName",
											"value": "dbo"
										},
										{
											"name": "tableName",
											"value": "BSEG_TGT"
										},
										{
											"name": "keys",
											"value": [
												"MANDT",
												"BUKRS",
												"BELNR",
												"GJAHR",
												"BUZEI"
											]
										},
										{
											"name": "deletable",
											"value": true
										},
										{
											"name": "updateable",
											"value": true
										},
										{
											"name": "upsertable",
											"value": true
										},
										{
											"name": "defaultToUpsert",
											"value": true
										}
									]
								}
							}
						],
						"Connection": {
							"linkedService": {
								"referenceName": "AzureSynapseAnalytics",
								"type": "LinkedServiceReference"
							},
							"linkedServiceType": "AzureSqlDW",
							"type": "linkedservicetype",
							"isInlineDataset": true,
							"commonDslConnectorProperties": [
								{
									"name": "allowSchemaDrift",
									"value": true
								},
								{
									"name": "inferDriftedColumnTypes",
									"value": true
								},
								{
									"name": "format",
									"value": "table"
								},
								{
									"name": "store",
									"value": "synapseanalytics"
								},
								{
									"name": "databaseType",
									"value": "databaseType"
								},
								{
									"name": "database",
									"value": "database"
								},
								{
									"name": "deletable",
									"value": false
								},
								{
									"name": "insertable",
									"value": true
								},
								{
									"name": "updateable",
									"value": false
								},
								{
									"name": "upsertable",
									"value": false
								},
								{
									"name": "allowCopyCommand",
									"value": false
								},
								{
									"name": "staged",
									"value": true
								},
								{
									"name": "skipDuplicateMapInputs",
									"value": true
								},
								{
									"name": "skipDuplicateMapOutputs",
									"value": true
								}
							]
						},
						"DataMapperMappings": [
							{
								"targetEntityName": "dbo.BSEG_TGT",
								"sourceEntityName": "synapse-povtug/BSEG_INIT",
								"sourceConnectionReference": {
									"connectionName": "adls",
									"type": "linkedservicetype"
								},
								"attributeMappingInfo": {
									"attributeMappings": []
								}
							}
						],
						"Relationships": []
					}
				],
				"Policy": {
					"recurrence": {
						"frequency": "Minute",
						"interval": 1
					},
					"mode": "Microbatch"
				},
				"status": "Started",
				"allowVNetOverride": false,
				"typeProperties": {
					"staging": {
						"linkedService": {
							"referenceName": "adls",
							"type": "LinkedServiceReference"
						},
						"folderPath": "synapse-povtug/TMP_STAGING"
					},
					"linkedServiceType": "AzureBlobFS"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/adls')]",
				"[concat(variables('factoryId'), '/linkedServices/AzureSynapseAnalytics')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/00_INITIAL_LOAD')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Bulk Initial Load",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Move to Processing",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFolderPath": {
										"value": "@concat(pipeline().parameters.FOLDER_NM, '_PROCESSING')",
										"type": "Expression"
									},
									"wildcardFileName": "*",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "ParquetReadSettings"
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"allowPolyBase": true,
								"polyBaseSettings": {
									"rejectValue": 0,
									"rejectType": "value",
									"useTypeDefault": true
								},
								"disableMetricsCollection": false
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "DS_PARQUET_SOURCE",
								"type": "DatasetReference",
								"parameters": {
									"FOLDER_NM": {
										"value": "@coalesce('')",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DIRECT_SYNAPSE_DATASET_DYNAMIC",
								"type": "DatasetReference",
								"parameters": {
									"SynapseTableName": {
										"value": "@pipeline().parameters.TGT_TBL_NM",
										"type": "Expression"
									},
									"SynapseSchema": {
										"value": "@pipeline().parameters.TGT_DB_NM",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Move to Processing",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFolderPath": {
										"value": "@pipeline().parameters.FOLDER_NM",
										"type": "Expression"
									},
									"wildcardFileName": "*",
									"deleteFilesAfterCompletion": true
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "DS_SRC_PROCESS",
								"type": "DatasetReference",
								"parameters": {
									"FOLDER_NM": {
										"value": "@coalesce('')",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_SRC_PROCESS",
								"type": "DatasetReference",
								"parameters": {
									"FOLDER_NM": {
										"value": "@concat(pipeline().parameters.FOLDER_NM, '_PROCESSING')",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Move to Archive",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Bulk Initial Load",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFolderPath": {
										"value": "@concat(pipeline().parameters.FOLDER_NM, '_PROCESSING')",
										"type": "Expression"
									},
									"wildcardFileName": "*",
									"deleteFilesAfterCompletion": true
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "DS_SRC_PROCESS",
								"type": "DatasetReference",
								"parameters": {
									"FOLDER_NM": {
										"value": "@coalesce('')",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_SRC_PROCESS",
								"type": "DatasetReference",
								"parameters": {
									"FOLDER_NM": {
										"value": "@concat(pipeline().parameters.FOLDER_NM, '_ARCHIVE')",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"concurrency": 1,
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"FOLDER_NM": {
						"type": "string"
					},
					"TGT_DB_NM": {
						"type": "string"
					},
					"TGT_TBL_NM": {
						"type": "string"
					}
				},
				"folder": {
					"name": "TEST"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_PARQUET_SOURCE')]",
				"[concat(variables('factoryId'), '/datasets/DIRECT_SYNAPSE_DATASET_DYNAMIC')]",
				"[concat(variables('factoryId'), '/datasets/DS_SRC_PROCESS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/00_INITIAL_LOAD_BAK')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Bulk Initial Load",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Move to Processing",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFolderPath": {
										"value": "@concat(pipeline().parameters.FOLDER_NM, '_PROCESSING')",
										"type": "Expression"
									},
									"wildcardFileName": "*",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "ParquetReadSettings"
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": {
									"value": "@{concat('TRUNCATE TABLE ', pipeline().parameters.TGT_DB_NM, '.', concat(pipeline().parameters.TGT_TBL_NM, '_TMP'))}",
									"type": "Expression"
								},
								"allowPolyBase": true,
								"polyBaseSettings": {
									"rejectValue": 0,
									"rejectType": "value",
									"useTypeDefault": true
								},
								"disableMetricsCollection": false
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "DS_PARQUET_SOURCE",
								"type": "DatasetReference",
								"parameters": {
									"FOLDER_NM": {
										"value": "@coalesce('')",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DIRECT_SYNAPSE_DATASET_DYNAMIC",
								"type": "DatasetReference",
								"parameters": {
									"SynapseTableName": {
										"value": "@concat(pipeline().parameters.TGT_TBL_NM, '_TMP')",
										"type": "Expression"
									},
									"SynapseSchema": {
										"value": "@pipeline().parameters.TGT_DB_NM",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Move to Processing",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"modifiedDatetimeEnd": {
										"value": "@addminutes(utcNow(), -30)",
										"type": "Expression"
									},
									"wildcardFolderPath": {
										"value": "@pipeline().parameters.FOLDER_NM",
										"type": "Expression"
									},
									"wildcardFileName": "*",
									"deleteFilesAfterCompletion": true
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "DS_SRC_PROCESS",
								"type": "DatasetReference",
								"parameters": {
									"FOLDER_NM": {
										"value": "@coalesce('')",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_SRC_PROCESS",
								"type": "DatasetReference",
								"parameters": {
									"FOLDER_NM": {
										"value": "@concat(pipeline().parameters.FOLDER_NM, '_PROCESSING')",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Move to Archive",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy Temp Into Target",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFolderPath": {
										"value": "@concat(pipeline().parameters.FOLDER_NM, '_PROCESSING')",
										"type": "Expression"
									},
									"wildcardFileName": "*",
									"deleteFilesAfterCompletion": true
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "DS_SRC_PROCESS",
								"type": "DatasetReference",
								"parameters": {
									"FOLDER_NM": {
										"value": "@coalesce('')",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_SRC_PROCESS",
								"type": "DatasetReference",
								"parameters": {
									"FOLDER_NM": {
										"value": "@concat(pipeline().parameters.FOLDER_NM, '_ARCHIVE')",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Copy Temp Into Target",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "Bulk Initial Load",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "AzureSynapseAnalytics",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": {
										"value": "@concat('INSERT INTO ', pipeline().parameters.TGT_DB_NM, '.', pipeline().parameters.TGT_TBL_NM, ' SELECT * FROM ', pipeline().parameters.TGT_DB_NM, '.', concat(pipeline().parameters.TGT_TBL_NM, '_TMP'))",
										"type": "Expression"
									}
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					}
				],
				"concurrency": 1,
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"FOLDER_NM": {
						"type": "string"
					},
					"TGT_DB_NM": {
						"type": "string"
					},
					"TGT_TBL_NM": {
						"type": "string"
					},
					"YEAR": {
						"type": "string"
					}
				},
				"folder": {
					"name": "TEST"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_PARQUET_SOURCE')]",
				"[concat(variables('factoryId'), '/datasets/DIRECT_SYNAPSE_DATASET_DYNAMIC')]",
				"[concat(variables('factoryId'), '/datasets/DS_SRC_PROCESS')]",
				"[concat(variables('factoryId'), '/linkedServices/AzureSynapseAnalytics')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/00_INITIAL_LOAD_MANUAL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Bulk Initial Load",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFolderPath": {
										"value": "@pipeline().parameters.FOLDER_NM",
										"type": "Expression"
									},
									"wildcardFileName": "*",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "ParquetReadSettings"
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"allowPolyBase": true,
								"polyBaseSettings": {
									"rejectValue": 0,
									"rejectType": "value",
									"useTypeDefault": true
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "DS_PARQUET_SOURCE",
								"type": "DatasetReference",
								"parameters": {
									"FOLDER_NM": {
										"value": "@pipeline().parameters.FOLDER_NM",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DIRECT_SYNAPSE_DATASET_DYNAMIC",
								"type": "DatasetReference",
								"parameters": {
									"SynapseTableName": {
										"value": "@pipeline().parameters.TGT_TBL_NM",
										"type": "Expression"
									},
									"SynapseSchema": {
										"value": "@pipeline().parameters.TGT_DB_NM",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"FOLDER_NM": {
						"type": "string",
						"defaultValue": "BSEG_1"
					},
					"TGT_DB_NM": {
						"type": "string",
						"defaultValue": "dbo"
					},
					"TGT_TBL_NM": {
						"type": "string"
					}
				},
				"folder": {
					"name": "TEST"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_PARQUET_SOURCE')]",
				"[concat(variables('factoryId'), '/datasets/DIRECT_SYNAPSE_DATASET_DYNAMIC')]"
			]
		}
	]
}